/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL side bar component.
 */

/* Side bar. */
.sideBar {
  display: none;
}

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {
  /* Side bar. */
  .sideBar {
    display: block;
    width: 260px;
  }
}
