/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header logo component.
 */

/* Logo - link. */
.logo {
  align-items: center;
  display: flex;
  flex: 1;
  margin-top: -15px;
}

/* Logo - link - NCPI. */
.logo.ncpi {
  margin-top: 0;
}

/* AnVIL and NCPI image */
.logo img {
  align-self: center;
  height: 28px;
  margin: 0;
}

/* NCPI image */
.logo.ncpi img {
  height: 44px;
}

/**
 * Extra Small Handset +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 375px) {
  /* Logo - link. */
  .logo {
    flex: none;
  }
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* AnVIL and NCPI image */
  .logo img {
    height: 36px;
  }
}
