/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header logo component.
 */

/* Logo - link. */
.logo {
  align-items: center;
  display: flex;
  flex: none;
  margin-right: auto;
  margin-top: -9px;
}

/* Logo - link - NCPI. */
.logo.ncpi {
  margin-top: 0;
}

/* AnVIL and NCPI image */
.logo img {
  align-self: center;
  height: 32px;
  margin: 0;
}

/* NCPI image */
.logo.ncpi img {
  height: 44px;
}

/* Logo - search expanded. */
.logo.searchBarOpen {
  display: none;
}

/**
 * Large handset portrait, extra small window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {
  /* Search expanded. */
  .logo.searchBarOpen {
    display: flex;
  }
}
