/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data search input component.
 */
@import "../../styles/vars.module.css";

/* Search - "input" container. */
.search {
    max-width: 246px;
    position: relative; /* Required for icon. */
}

/* Clear icon. */
.search .icon {
    color: var(--black34);
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
}

/* Clear icon - hover. */
.search .icon.active:hover {
    color: var(--black58);
}

/* Clear icon - active. */
.search .icon.active {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Input. */
.input {
    color: var(--black87);
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 2px;
    display: block;
    height: 30px;
    padding: 0 30px 0 4px;
    width: 100%;
}

/* Input focus. */
.input:focus {
    border-color: var(--accent-blue-green);
    outline: none;
}

/* Input, placeholder. */
.input, .input::placeholder {
    font-size: 12px;
    line-height: 32px;
}

/* Input - placeholder. */
.input::placeholder {
    color: var(--black58);
}
