/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article end component.
 */

/* End article */
.articleEnd {
    border-top: 1px solid rgba(126, 186, 192, 0.38);
    cursor: pointer;
    margin-top: 60px;
    padding-top: 4px;
}

/* Link - "Improve this page", "Content guide" */
.articleEnd a {
    text-decoration: underline;
    width: fit-content;
}

/* Link - "Content guide" */
.articleEnd a + a {
    margin-left: 16px;
}

/* Link - hover */
.articleEnd a:hover {
    /*border-bottom: 2px solid var(--black34);*/
}
