/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article end component.
 */

/* End article */
.articleEnd {
    border-top: 1px solid rgba(126, 186, 192, 0.38);
    cursor: pointer;
    padding-top: 12px;
}

/* Link - "Improve this page", "Content guide" */
.articleEnd a {
    color: var(--primary);
    border-bottom: 1px dashed #aaaaaa; /* Placeholder */
    text-decoration: none;
    width: fit-content;
}

/* Link hover */
.articleEnd a:hover {
    border-bottom: 1px solid var(--primary); /* Placeholder */
}

/* Link - "Content guide" */
.articleEnd a + a {
    margin-left: 16px;
}
