appnope==0.1.4
asttokens==3.0.1
comm==0.2.3
debugpy==1.8.21
decorator==5.3.1
executing==2.2.1
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jupyter_client==8.9.1
jupyter_core==5.9.1
matplotlib-inline==0.2.2
nest-asyncio2==1.7.2
numpy==2.5.1
packaging==26.2
pandas==3.0.3
parso==0.8.7
pexpect==4.9.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
python-dateutil==2.9.0.post0
pyzmq==27.1.0
six==1.17.0
stack-data==0.6.3
tornado==6.5.7
traitlets==5.15.1
typing_extensions==4.16.0
wcwidth==0.8.2
