/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search summary component.
 */

/* Stat label, stat. */
.stat, .label {
    flex-basis: 100%;
    margin: 4px 0;
    white-space: nowrap;
}

/* Stat label, statistics - not last. */
.label, .stat:not(:last-of-type) {
    padding-right: 12px;
}

/**
 * Small tablet portrait, medium handset landscape, small window
 */
@media screen and (min-width: 600px) {

    /* Stat label, stat. */
    .stat, .label {
        flex-basis: unset;
    }
}
