/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL site search input icon component.
 */

/* Input search icon wrapper. */
.searchIcon {
    pointer-events: none;
    position: absolute;
}

/* Input search icon. */
.searchIcon i {
    padding: 8px;
}
