/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL modal drawer component.
 */

/* Drawer. */
.drawer {
  background-color: var(--white);
  box-shadow: 0 0 20px var(--black40);
  height: 100%;
  overflow: auto;
  padding: 24px 16px;
  pointer-events: auto;
  position: absolute; /* Positions drawer and close button. */
  right: 0;
  top: 0;
  width: 100%;
}

/* CSSTransition. */
/* Drawer appearing. */
.drawerAppear {
  transform: translateX(100%);
}

/* Drawer open. */
.drawerAppearActive {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Drawer closing. */
.drawerClosed {
  transform: translateX(0);
}

/* Drawer closed. */
.drawerClosedActive {
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Drawer exited. */
.drawerExitDone {
  transform: translateX(100%);
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) and (min-height: 600px) {
  /* Drawer. */
  .drawer {
    width: 50%;
  }
}

/**
 * Small tablet landscape, small window.
 */
@media screen and (min-width: 960px) {
  /* Drawer. */
  .drawer {
    width: 480px;
  }
}
