/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header nav side bar overlay component.
 */

/* Side bar overlay. */
.sideBarOverlay {
  background-color: var(--black34);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4; /* Above footer. */
}

/* CSSTransition. */
/* Side bar overlay appearing. */
.sideBarOverlayAppear {
  opacity: 0;
}

/* Side bar overlay open. */
.sideBarOverlayAppearActive {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Side bar overlay closing. */
.sideBarOverlayClosed {
  opacity: 1;
}

/* Side bar overlay closed. */
.sideBarOverlayClosedActive {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Side bar overlay exited. */
.sideBarOverlayExitDone {
  opacity: 0;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Side bar overlay. */
  .headerNavSideBarOverlay {
    display: none;
  }
}
