/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section hero.
 */

/* Main. */
.heroMain {
  grid-column: 2  / 4;
  grid-row: 2;
}

/* Sub Main (RHS). */
.heroSubMain {
  grid-column: 2 / 4;
  grid-row: 3;
  margin-top: 44px;
}

/* Title. */
.heroTitle {
  color: var(--accent-blue-dark);
  font-family: "Open Sans", sans-serif;
  font-size: 3rem; /* 48px */
  font-weight: 600;
  line-height: 4rem; /* 60px */
  margin: 0 0 1.5rem; /* 24px */
  max-width: 432px;
}

/* Sub title. */
.heroSubTitle {
  color: var(--black58);
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  margin: 0 0 1rem; /* 16px */
  max-width: 390px;
}

/* CTAs. */
.heroCTAs {
  display: grid;
  gap: 16px;
  grid-template-columns: 190px;
}

/**
 * Large handset portrait, extra small window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {
  /* CTAs. */
  .heroCTAs {
    gap: 32px;
    grid-template-columns: repeat(2, 190px);
  }
}

/**
 * Optimized for home page channel.
 */
@media screen and (min-width: 1200px) {
  /* Main. */
  .heroMain {
    grid-column: 2;
  }

  /* Sub Main (RHS). */
  .heroSubMain {
    grid-column: 3;
    grid-row: 2;
    justify-content: flex-end;
    margin-top: 0;
  }
}
