/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header socials component.
 */

/* Socials. */
.headerSocials {
  align-items: center;
  display: none;
  margin-left: 24px;
  margin-right: -12px;
}

/* Side bar socials. */
.headerSideBarSocials {
  display: flex;
  margin: 0 12px;
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Socials. */
  .headerSocials {
    display: flex;
    margin-left: 44px;
  }
}
