/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL site search button component.
 */

/* Search button. */
.searchButton {
  display: flex;
}

/* Button. */
.searchButton button {
  padding: 8px;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Search button. */
  .searchButton {
    display: none;
  }
}
