/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL tech card.
 */

/* Card. */
.card {
  align-items: flex-start;
  display: flex;
}

/* Thumbnail. */
.cardThumbnail {
  position: relative;
  top: 8px;
  width: 40px; /* Placeholder. */
}

/* Body. */
.cardBody {
  flex: 1;
  margin-left: 16px;
}

/* Title. */
.cardTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem; /* 18px. */
  font-weight: 600;
  line-height: 1.5rem; /* 24px. */
  margin: 0;
}

/* Text. */
.cardContent {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem; /* 14px. */
  line-height: 1.125rem; /* 18px. */
  margin: 0;
}

/* Card actions. */
.cardActions {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

/* Action. */
.cardAction {
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem; /* 14px. */
  font-weight: 600;
  line-height: 1.125rem; /* 18px. */
}
