/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header nav side bar hero component.
 */

/* Side bar hero. */
.sideBarHero {
  composes: header from "../header.module.css";
  composes: headerHero from "../header-hero/header-hero.module.css";
  box-sizing: content-box;
  justify-content: flex-start;
}
