/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article content positioner component.
 */

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {
  /* Content positioner */
  .contentPositioner {
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 840px;
    min-width: 0; /* Required for <pre> tag to respect overflow conditions on article flexbox container. */
    padding: 0 0 0 40px; /* Padding left for space between left nav and content */
  }

  /* Content positioner - left alignment */
  .contentPositioner.left {
    margin: 0;
    padding: 0;
  }
}

/**
 * Column row layout changes to row layout (left nav/content/outline), in addition to complimentary JS in scroll.service
 */
@media screen and (min-width: 840px) {
  /* Content positioner */
  .contentPositioner {
    max-width: 1240px;
  }

  /* Content positioner - left alignment */
  .contentPositioner.left {
    margin: 0 auto 0 0;
    max-width: unset;
  }

  /* Cap width of content on left aligned pages */
  .contentPositioner.left p {
    max-width: 816px;
  }
}

/**
 * Content and outline are centered, rather than left-aligned
 */
@media screen and (min-width: 1545px) {
  /* Content positioner */
  .contentPositioner {
    justify-content: center;
  }
}
