/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL style guide typography component.
 */
@import "../../styles/vars.module.css";

/* Typography */
.typo {
    margin-bottom: 24px;
}

/* Example */
.typo:first-of-type {
    color: var(--black58);
}

/* Label, overrides <Hero> margin */
.typo .label, .typo > div {
    margin-bottom: 8px;
}

/* Styles */
.typo .styles {
    font-size: 14px;
}

/* Style */
.typo .styles span {
    display: inline-flex;
    vertical-align: middle;
}

.typo .styles span:nth-of-type(even) {
    flex-basis: 100%;
}

/* Dot */
.typo .styles span:not(:last-of-type):after {
    align-self: center;
    background-color: var(--black12);
    border-radius: 50%;
    content: "";
    height: 4px;
    margin: 0 8px;
    width: 4px;
}
