/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL style guide download logo component.
 */

/* Logo */
.logo {
    align-items: flex-end; /* Required for micro positioning of each download icon with the baseline of its associated brand */
    border-bottom: none !important; /* Required to override markdown <a> styles */
    display: flex;
    margin: 40px 0;
}

/* Images */
.logo img {
    margin: 0;
}

/* Squash AnVIL logo to match project and project.org */
/* AnVIL logo only*/
.logo:first-of-type img:first-of-type {
    height: 25px;
    margin-bottom: 2px; /* Logo baseline adjusted to allow for download icon whitespace */
}

/* Logos project and project.org */
.logo:not(:first-of-type) img:first-of-type {
    height: 30px;
    margin-bottom: -2px; /* Logo baseline adjusted to allow for download icon whitespace */
}

/* Download icon */
.logo img:last-of-type {
    height: 18px;
    margin-left: 8px;
}
