/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search facet show more component.
 */

/* Plus more. */
.more {
  composes: label from "../dashboard-search-facet-checkbox-select/dashboard-search-facet-checkbox-select.module.css";
  color: var(--primary);
  flex: 1;
  margin-left: 25px; /* Checkbox 13px, label margin 12px. */
  text-align: left;
}

/* Toggle select more button. */
.grid {
  margin-left: 88px;
}
