/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table toolbar component.
 */

/* Toolbar. */
.toolbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 32px 0 16px; /* Margin matches <h2> inside toolbar. */
}

/* Toolbar - all children. */
.toolbar > * {
    margin: 0; /* Strip margin off <h2> inside toolbar. */
}

/* Tools. */
.toolbar .tools {
    align-items: center;
    display: flex;
}

/* Tool - not first. */
.toolbar .tools > *:not(:first-of-type) {
    padding-left: 16px;
}
