/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL link and associated arrow component.
 */
@import "../../styles/vars.module.css";

/* Go to... */
.linkTo {
    color: var(--accent-blue-dark);
    cursor: pointer;
    position: relative;
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Go to... - stretch block style */
.linkTo.stretch {
    display: block;
    width: 100%;
}

/* Subsequent Go to... */
.linkTo + .linkTo {
    margin-top: 12px;
}

/* Go to ... - hover */
.linkTo:hover {
    color: var(--accent-blue-green);
}

/* Go to... - overrides markdown styles on <a> */
.linkTo a, .linkTo a:hover {
    border-bottom: none !important;
}

/* Go to... link */
.linkTo a, .linkTo span {
    position: relative; /* Positions go to ... arrow */
}

/* Go to ... arrow */
.linkTo a:after, .linkTo a:before, .linkTo span:after, .linkTo span:before {
    background-color: var(--accent-blue-dark);
    content: ' ';
    height: 7px;
    right: -12px;
    position: absolute;
    transition: background-color linear 100ms;
    width: 1px;
    visibility: visible;
}

.linkTo a:after, .linkTo span:after {
    top: 10px;
    transform: rotate(45deg);
}

.linkTo a:before, .linkTo span:before {
    top: 5px;
    transform: rotate(-45deg);

}

/* Go to ... arrow - hover */
.linkTo:hover a:after, .linkTo:hover a:before, .linkTo:hover span:after, .linkTo:hover span:before {
    background-color: var(--accent-blue-green);
}
