/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header nav items component.
 */

/* Navigation items. */
.headerNavItems {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 16px 0;
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Navigation items. */
  .headerNavItems {
    align-items: center;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
  }
}
