/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the Overline component.
 */

/* Overline container - immediate children */
.overline > *:not(hr) {
    display: inline-flex;
    align-items: baseline;
    font-size: 0.75rem; /* 12px */
    line-height: 2rem; /* 32px */
    letter-spacing: 1px;
    white-space: nowrap;
}

/* News posted date (only child), event type but not event name (not first child) */
.overline > :only-child, .overline > :not(:first-child)  {
    text-transform: uppercase;
}

/* Dot - excludes first for < 840, excludes last for >= 840 */
.overline > *:not(hr):not(:first-of-type):before, .overline > *:not(hr):not(:last-of-type):after {
    align-self: center;
    background-color: var(--accent-blue-green);
    border-radius: 50%;
    content: "";
    height: 3px;
    margin: 0 8px;
    width: 3px;
}

/* Mobile first - hide after dots on devices < 840 */
.overline > *:not(hr):not(:last-of-type):after {
    display: none;
}

/* Never dot hr - hr elements are used as a line break for devices < 840 */
.overline > hr+*:before   {
    display: none;
}

/* Sneaky hide of hr elements, scoot stacked overline rows closer with negative margin top */
.overline hr {
    flex-basis: 100%;
    border: 0;
    height: 0;
    margin: -10px 0 0 0;
    width: 100%;
}

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {
    
    /* Show after dots on larger devices */
    .overline > *:not(hr):not(:last-of-type):after {
        display: inline-flex;
    }

    /* Hide before dots on larger devices */
    .overline > *:not(hr):not(:first-of-type):before {
        display: none;
    }

    /* Prevent stacking on larger devices */
    .overline hr {
        display: none;
    }
}
