/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL button component.
 */
@import "../../styles/vars.module.css";

/* Button */
.button {
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    justify-content: center;
    min-width: 64px;
    padding: 0 16px;
}

.button:focus {
    outline: none;
}

/* Button - dark */
.button.dark {
    background-color: var(--primary);
    color: var(--white);
}

/* Button - dark hover state */
.button.dark:hover {
    background-color: rgba(3, 92, 148, 0.87);
}

/* Button - light */
.button.light {
    background-color: var(--shade-light);
    color: var(--shade-dark);
}

/* Button - light hover state */
.button.light:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), linear-gradient(rgba(246, 247, 244, 1), rgba(246, 247, 244, 1));
}
