/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header hero component.
 */

/* Header hero. */
.headerHero {
  display: flex;
  margin-right: auto;
}

/* Hide hero. */
.headerHero.hide {
  display: none;
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) {
  /* Hide hero - always show. */
  .headerHero.hide {
    display: flex;
  }
}
