/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header hero component.
 */

/* Header hero. */
.headerHero {
  align-items: center;
  display: flex;
  flex: 1;
  height: 60px;
}
