/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL privacy "banner" component.
 */

/* Privacy */
.privacy {
    background-color: var(--accent-blue-dark);
    bottom: 0;
    color: var(--white);
    padding: 24px 0;
    position: sticky;
}

/* Container */
.privacy div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Privacy text, "Ok" */
.privacy div > span {
    padding: 8px 0;
}

/* "Ok", "Learn more here" */
.privacy .underline {
    color: var(--white);
    cursor: pointer;
    border-bottom: 1px dashed var(--white);
    white-space: nowrap;
}

.privacy .underline:hover {
    border-bottom-style: solid;
}
