/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL event card.
 */

/* Card. */
.card {
  margin: 32px 0;
}

/* Card container. */
.cardContainer {
  align-items: flex-start;
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem; /* 18px. */
  line-height: 1.5rem; /* 24px. */
  gap: 16px;
  grid-template-columns: 88px 1fr;
}

/* Title. */
.cardTitle {
  padding: 2px 0;
}

/* Date. */
.cardDate {
  background-color: var(--shade-light);
  margin: 0;
  padding: 2px 4px;
}

/* Day. */
/* Month. */
.bubbleDayOfMonth,
.bubbleMonth {
  display: inline-block;
  margin-bottom: 4px;
}

/* Day. */
.bubbleDayOfMonth {
  padding-right: 4px;
}

/* Year. */
.bubbleYear {
  font-size: 0.875rem; /* 14px. */
  display: block;
  line-height: 1.25rem; /* 20px. */
}

/**
 * Large tablet portrait, large handset landscape, small window
 */
@media screen and (min-width: 720px) {
  /* Card. */
  .card {
    margin: 16px 0;
  }
}
