/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data (study) nested snapshot table component.
 */

/* Summary - container. */
.summary {
    margin-top: 24px;
}

/* Title. */
.summary .title {
    color: var(--accent-blue-dark);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

/* Sub title. */
.summary .subTitle {
    font-size: 12px;
    letter-spacing: 1.12px;
}

/* Sub title - error. */
.summary .subTitle.error {
    color: #b10062;
}
