/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table row cell component.
 *
 * "anvil" identifier is for AnVIL dashboard.
 * "ncpi" identifier is for ncpi dashboard.
 * "summary" identifier is for the summary table.
 */

/* Row cells */
[id^="anvil"] td,
[id^="ncpi"] td,
[id^="summary"] td {
    border-bottom: none;
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    height: 32px;
    min-width: 62px;
}

/* Padding */
/* AnVIL table */
/* NCPI table */
/* Summary table */
/* Add padding to the right of cells for AnVIL table to prevent long values from jamming up */
[id^="anvil"] td,
[id^="ncpi"] td,
[id^="summary"] td {
    padding: 8px;
}

/* Row cell - first */
[id^="anvil"] td:first-of-type,
[id^="ncpi"] td:first-of-type,
[id^="summary"] td:first-of-type {
    padding-left: 2px; /* Scoot in first and last, matches header cell */
}

/* Row cell - last */
[id^="anvil"] td:last-of-type,
[id^="ncpi"] td td:last-of-type,
[id^="summary"] td:last-of-type {
    padding-right: 2px; /* Scoot in first and last, matches header cell */
}

/* Ellipsis */
/* AnVIL table - "projectId" (ie Terra workspace name) */
[id^="anvil"] td[id^="projectId"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 233px; /* Matches studyName and diseases */
}

/* AnVIL table - "accessType" */
[id^="anvil"] td[id^="accessType"] {
    width: 144px;
}

/* AnVIL table - "consentCodes" */
[id^="anvil"] td[id^="consentShortNames"] {
    max-width: 158px;
}

/* NCPI table - "consentCodes" */
[id^="ncpi"] td[id^="consentCodes"] {
    width: 200px;
}

/* AnVIL table - "dataTypes" */
[id^="anvil"] td[id^="dataTypes"] {
    width: 158px;
}

/* NCPI table - "dataTypes" */
[id^="ncpi"] td[id^="dataTypes"] {
    max-width: 158px;
}

/* AnVIL table - "dataTypes" */
[id^="anvil"] td[id^="dataTypes"] span {
    white-space: nowrap;
}

/* AnVIL table - "diseases" */
[id^="anvil"] td[id^="diseases"] {
    max-width: 158px;
}

/* NCPI table - "diseases" */
[id^="ncpi"] td[id^="diseases"] {
    max-width: 158px;
}

/* AnVIL table - "size" */
[id^="anvil"] td[id^="size"] {
    width: 84px;
}

/* AnVIL table - "studyName" ("title") */
[id^="anvil"] td[id^="studyName"] {
    max-width: 158px;
}

/* NCPI table - "studyName" ("title") */
[id^="ncpi"] td[id^="studyName"] {
    max-width: 400px;
}

/* AnVIL table - "consortium" */
[id^="anvil"] td[id^="consortium"] {
    width: 89px;
}

/* AnVIL table - "subjects" */
[id^="anvil"] td[id^="subjects"] {
    width: 80px;
}

/* NCPI table - "platform" */
[id^="ncpi"] td[id^="platform"] {
    width: 240px;
}

/* Summary table - "total" */
[id^="summary"] td {
    font-weight: inherit; /* Font weight specified by data table row */
}
