/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL events component.
 */

.event {
    align-self: stretch;
    margin: 32px 0;
}

.event:last-child, p.noEvents {
    margin-bottom: 32px;
}
