/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table component.
 *
 * "anvil" identifier is for anvil dashboard.
 * "ncpi" identifier is for ncpi dashboard.
 * "summary" identifier is for the summary table.
 */

/* Table wrapper */
/* Allows for overflow on smaller screens */
.wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

/* Summary table - wrapper */
.wrapper[id^="summary"] {
    margin-bottom: 24px;
}

/* Table */
.wrapper table {
    display: inline-table;
    margin: 0;
}

/**
 * Large handset portrait, small handset landscape, extra small window - left nav is stacked below this point
 */
@media screen and (min-width: 840px) {

    /* Wrapper */
    .wrapper {
        max-width: calc(100vw - 24px - 24px); /* Allow table to stretch to right-hand side of device, to indicate more */
    }
}
