/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL tabs component.
 */

/* Tabs. */
.tabs {
  align-items: center;
  display: inline-flex;
  font-size: 14px;
  line-height: 32px;
  overflow-x: auto; /* Scroll - hide webkit scrollbar unless actively scrolling. */
  -ms-overflow-style: none; /* Hide scrollbar in IE, Edge. */
  padding: 0 16px;
  scrollbar-width: none; /* Hide scrollbar in Firefox. */
  width: 100%;
}

/* Scrollbar hidden - Safari and Chrome */
.tabs::-webkit-scrollbar {
  display: none;
  width: 0;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Tabs. */
  .tabs {
    padding: 0 24px;
  }
}
