/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL tabs component.
 */

/* Tabs. */
.tabs {
  align-items: center;
  display: none;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 1px;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Tabs. */
  .tabs {
    display: inline-flex;
    flex-basis: 100%; /* To take up full width of viewport and wrap to new line. */
  }
}
