/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL publication card.
 */

/* Card. */
.card {
  font-family: "Open Sans", sans-serif;
}

/* Card - required to override markdown <a> styles. */
.card a {
  border-bottom: none;
  color: var(--default-text);
}

/* Card - hover - required to override markdown <a> styles. */
.card a:hover {
  border-bottom: none;
}

/* Title. */
/* Citation. */
/* Action. */
.publicationTitle,
.publicationCitation,
.cardAction {
  font-family: inherit;
  line-height: 1.5rem; /* 24px. */
}

/* Title. */
.publicationTitle {
  font-size: 1.125rem; /* 18px. */
}

/* Citation. */
/* Action. */
.publicationCitation,
.cardAction {
  font-size: 0.75rem; /* 12px. */
}

/* Action. */
.cardAction {
  border: none;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
}
