/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL publication card.
 */

/* Card. */
.card {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem; /* 18px. */
  line-height: 1.25rem; /* 20px. */
}

/* Citation. */
.cardCitation {
  font-size: 0.75rem; /* 12px. */
}

/* Action. */
.cardAction {
  border: none;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 6px;
}
