/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search empty results component.
 */

/* No results. */
.error {
  color: var(--accent-blue-green);
  font-size: 14px;
  line-height: 32px;
}
