/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data studies component.
 */

/* Studies. */
.studies {
    margin: 24px 0;
    width: calc(100vw - 32px);
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Studies. */
    .studies {
        width: calc(100vw - 48px);
    }
}

/**
 * Column row layout changes to row layout (left nav/content/outline).
 */
@media screen and (min-width: 1341px) {

    /* Studies. */
    .studies {
        width: calc(100vw - 280px - 48px - 48px);
    }
}
