/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article component.
 */
@import "../../styles/vars.module.css";

/* Article */
.article {
    padding: 36px 0;
}

/* Article container */
.article .container {
    display: flex;
    flex-direction: column;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Article container */
    .article .container {
        margin: 0 auto;
        width: 650px;
    }
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

    /* Article container */
    .article .container {
        flex-direction: row;
        width: unset;
    }
}
