/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article component.
 */

/* Article */
.article {
    padding: 36px 0;
}

/* Overflow - hidden */
/* For "data dashboard" */
.article.overflow {
    overflow: hidden;
}

/* Article container */
.article .container {
    display: flex;
    flex-direction: column;
}

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {

    .contentPositioner {
        display: flex;
        flex: 1;
        padding: 0 40px;
        width: 840px;
        margin: 0 auto;
    }
}

/**
 * Column row layout changes to row layout (left nav/content/outline), in addition to complimentary JS in scroll.service
 */
@media screen and (min-width: 1341px) {

    .article .container {
        flex-direction: row;
        width: unset;
    }

    .contentPositioner {
        width: unset;
        max-width: 1240px;
    }
    
    .contentContainer {
        display: flex;
        max-width: 712px;
        margin: 0 auto 0 0;
    }
}

/**
 * Content and outline are centered, rather than left-aligned
 */
@media screen and (min-width: 1545px) {

    .contentPositioner {
        justify-content: center;
    }
}


