/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article component.
 */

/* Section */
.section {
  padding: 36px 0;
  position: relative; /* Positions tabs. */
}

/* Section container */
.section .container {
  display: flex;
  flex-direction: column;
}

/**
 * Column row layout changes to row layout (left nav/content/outline), in addition to complimentary JS in scroll.service
 */
@media screen and (min-width: 840px) {
  /* Section container */
  .section .container {
    flex-direction: row;
    width: unset;
  }
}
