/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article body component.
 */
@import "../../styles/vars.module.css";

/* Article body */
.articleBody {
    box-sizing: content-box;
    padding: 0;
    width: 100%;
}

/**
 * Large Tablet
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Article body */
    .articleBody {
        max-width: 650px;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Article body */
    .articleBody {
        border-left: 1px solid var(--accent-ice);
        border-right: 1px solid var(--accent-ice);
        padding: 0 32px;
    }
}
