/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article body component.
 */

/* Article body */
.articleBody {
    box-sizing: content-box;
    padding: 0;
    width: 100%;
}

/**
 * Large Tablet
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Article body */
    .articleBody {
        max-width: 650px;
    }
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

    /* Article body */
    .articleBody {
        margin-left: 220px; /* Nav */
        margin-right: 220px; /* Outline */
        max-width: unset;
        padding: 0 16px;
    }

    /* Article body - stretch */
    .articleBody.stretch {
        left: 220px; /* Bound by left nav position */
        margin-left: unset;
        margin-right: unset;
        max-width: calc(100vw - 48px - 220px - 16px); /* Page width minus: LHS & RHS gutter, nav, LHS content padding */
        position: relative;
        width: unset;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Article body */
    .articleBody {
        margin-left: 234px; /* Nav */
        margin-right: unset; /* Outline */
        max-width: 650px;
        padding: 0 32px;
    }

    /* Article body - stretch */
    .articleBody.stretch {
        left: 234px; /* Bound by left nav position */
        max-width: calc(1232px - 234px - 32px); /* Inner content minus: nav, LHS content padding */
    }
}
