/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL stat component.
 */

/* Stat. */
.stat {
  align-self: flex-start;
  color: var(--primary);
  display: flex;
  flex-direction: column;
}

/* Label. */
/* Count. */
.label,
.count {
  font-family: "Open Sans", sans-serif;
}

/* Label. */
.label {
  font-size: 0.875rem; /* 14px. */
  font-weight: 700;
  line-height: 1.125rem; /* 18px. */
}

/* Count. */
.count {
  font-size: 1.5rem; /* 24px. */
  line-height: 2.25rem; /* 36px. */
}

/**
 *  Small tablet landscape, small window
 */
@media screen and (min-width: 960px) {
  /* Stat. */
  .stat {
    align-self: center;
  }
}
