/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL hero component.
 */
@import "../../styles/vars.module.css";

/* Hero */
.hero {
    color: rgb(88, 96, 105);
    font-weight: 300;
    font-size: 20px;  
    margin: 24px 0; /* Rhythm - 1 */
}

/* Small */
.hero.small {
}
