/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL hero component.
 */
@import "../../styles/vars.module.css";

/* Hero */
.hero {
    background-color: rgba(126,186,192,.12);
    color: var(--accent-blue-dark);
    font-size: 1.125rem; /* 18px */
    font-weight: 300;
    line-height: 1.75rem; /* 28px */ 
    margin: 0 0 24px;
    padding: 24px;
}
