/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL style guide typography component.
 */

/* Styles. */
.styles {
  display: block;
  font-size: 0.875rem; /* 14px */
  margin-bottom: 48px;
}

/* Overline - spacing. */
.styles div {
  margin-top: 8px;
}

/* Label. */
.styles .label {
  color: var(--black58);
  font-weight: 300;
}

/* Style. */
.styles .style {
  display: block;
  margin: 0 0 2px;
}

/* Style - "AnVIL" - hide fontSize, lineHeight, margin, padding. */
.styles:nth-of-type(2) .style:nth-of-type(3),
.styles:nth-of-type(2) .style:nth-of-type(5),
.styles:nth-of-type(2) .style:nth-of-type(6),
.styles:nth-of-type(2) .style:nth-of-type(7) {
  display: none;
}
