/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL nav items component.
 */

/* List style - <ul> */
.navItems,
.navItems ul {
  list-style: none;
}

/* Nav items. */
.navItems {
  left: -8px; /* To left align arrow icon with gutter. */
  margin-top: 24px;
  padding: 0;
  position: relative;
}

/* List style - <ul> */
.navItems ul {
  margin: 0;
  padding: 0;
}

/**
 * Large handset portrait, small handset landscape, extra small window. Nav side bar is sitting next to article.
 */
@media screen and (min-width: 840px) {
  /* Nav items. */
  .navItems {
    left: unset;
    margin: 0;
    padding: 0;
    position: unset;
  }
}
