/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL hero tutorial component.
 */

/* Hero sub title. */
.hero > p {
  color: var(--accent-blue-dark);
  font-size: 1.25rem;
  font-weight: 300;
}

/* Hero author. */
.hero h1 + h4 {
  color: var(--black58);
  margin: 0 0 24px;
}
