/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL button link component.
 */
@import "../../styles/vars.module.css";

/* Button */
.button {
    composes: button from "../button/button.module.css";
    composes: dark from "../button/button.module.css";
    border-bottom: none !important; /* Required to override markdown <a> styles. */
    color: var(--white) !important; /* Required to override markdown <a> styles. */
    margin-bottom: 16px;
}
