/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL event hero component.
 */

/* Event hero <h6> 0 overline - mix of overline and <h3> styles */
.eventHero h6 {
  font-size: 1.25rem; /* 20px */
  letter-spacing: 2px;
  line-height: 1.75rem; /* 28px */
  margin: 0 0 0.5rem; /* 8px */
  white-space: nowrap;
}

/* Events - first event detail below event title - scoot up under title */
.eventHero h1 + h5 {
  margin-top: 0;
}

/* Events - subsequent event details after first below event title - scoot together */
.eventHero h5 + h5 {
  margin-top: -0.5rem; /* -8px */
}
