/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard study table component.
 */

/* Dashboard study table. */
.studyTable {
  overflow: hidden;
}

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {
  /* Dashboard study table. */
  .studyTable {
    grid-column: 1 / -1;
    grid-row: 4;
  }
}
