/**
 * Typography
 */
@import "./vars.module.css";

/* Class "headline" */
/* The AnVIL Headline */
.headline {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin: 0 0 32px;
}

/* The AnVIL class "articleHeading" */
.articleHeading {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin: 0 0 32px;
}

/* The AnVIL class "articleSubHeading" */
.articleSubHeading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 10px;
}

/* The AnVIL class "hero" */
.hero {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 32px;
}

/* The AnVIL - logo text */
.theAnVIL {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin: 0;
}

/* Paragraph font - Alegreya Sans */
.alegreyaSans {
    font-family: "Alegreya Sans", sans-serif;
}

/* Paragraph font - Barlow */
.barlow {
    font-family: "Barlow", sans-serif;
}

/* Paragraph font - Lato */
.lato {
    font-family: "Lato", sans-serif;
}

/* Paragraph font - Mandali */
.mandali {
    font-family: "Mandali", sans-serif;
}

/* Paragraph font - Noto Sans HK */
.notoSansHK {
    font-family: "Noto Sans HK", sans-serif;
}

/* Paragraph font - Open Sans */
.openSans {
    font-family: "Open Sans", sans-serif;
}

/* Paragraph font - Roboto */
.roboto {
    font-family: "Roboto", sans-serif;
}

/* Paragraph font - Raleway */
.raleway {
    font-family: "Raleway", sans-serif;
}

/* Paragraph - max width */
/* To be removed */
p {
    max-width: 600px;
}

/* Heading font - Alegreya */
.alegreya {
    font-family: 'Alegreya', serif;
}

/* Heading font - Nunito */
.nunito {
    font-family: 'Nunito', sans-serif;
}

/* Heading font - Old Standard */
.oldStandard {
    font-family: 'Old Standard TT', serif;
}

/* Heading font - Roboto Condensed */
.robotoCondensed {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Heading font - Roboto Mono */
.robotoMono {
    font-family: 'Roboto Mono', monospace;
}

/* Heading font - Rufina */
.rufina {
    font-family: 'Rufina', serif;
}

/* Heading font - Source Code Pro */
.sourceCodePro {
    font-family: 'Source Code Pro', monospace;
}

/* Heading font - Source Sans Pro */
.sourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
}

