/**
 * Global styles
 * 
 * Media queries - Material Design (https://material.io/design/layout/responsive-layout-grid.html#breakpoints)
 * 480px - Large handset portrait, extra small window
 * 600px - Small tablet portrait, medium handset landscape, small window
 * 720px - Large tablet portrait, large handset landscape, small window
 * 840px - Large handset portrait, small handset landscape, extra small window - left nav is stacked below this point
 * 960px - Small tablet landscape, small window
 * 1280px - Large tablet landscape, medium window
 * 1440px - Large tablet landscape, large window
 * 1600px - Large tablet landscape, large window
 *
 * Media queries - custom AnVIL breakpoints
 * 808px - Optimized width of data tables (to match main content channel), below which data tables should be overflow scroll (760px content channel + 24px x 2 for gutters)
 * 1040px - Tables change from scroll overflow (if necessary) to 100% width of content channel (currently 780)
 * 1388px - Outline is dropped below this point
 * 1545px - Content and outline are centered, rather than left-aligned
 */

@import "./vars.module.css";

/* Grid */
.grid {
  margin: 0 auto;
}

/* Container, grid */
.container,
.grid {
  padding: 0 16px;
}

/* Grid - 750px */
.grid.g750 {
  max-width: 750px;
}

/* Grid - centered */
.grid.centered {
  text-align: center;
}

/* Flex */
.flex {
  display: flex;
}

/* Dashed underline link style */
.asLink {
  color: var(--primary);
  border-bottom: 1px dashed #aaaaaa;
}

.asLink:hover {
  border-bottom: 1px solid var(--primary);
}

/**
 * Large tablet portrait, large handset landscape, small window
 */
@media screen and (min-width: 720px) {
  /* Container, grid - update containers from 16px margin to 24px */
  .container,
  .grid {
    padding: 0 24px;
  }
}
