/**
 * Global styles
 */
@import "./vars.module.css";

/* Grid */
.grid {
    margin: 0 auto;
}

/* Container, grid */
.container, .grid {
    padding: 0 16px;
}

/* Grid - 750px */
.grid.g750 {
    max-width: 750px;
}

/* Grid - centered */
.grid.centered {
    text-align: center;
}

/* Flex */
.flex {
    display: flex;
}

/* Link */
.link {
    border-bottom: 2px solid var(--accent-gold);
}

/* Link - hover */
/* TODO */
.link {
    border-bottom: 2px solid var(--accent-gold);
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Container, grid */
    .container, .grid {
        padding: 0 24px;
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Container */
    .container {
        margin: 0 auto;
        max-width: 1280px; /* Snap to 1280px */
    }
}
