/**
 * Global styles
 * Use of classes within markdown is possible.
 * Refer to https://www.gatsbyjs.org/packages/gatsby-remark-custom-blocks/?=remark-custo#how-to-use
 * Markdown syntax should follow:
 * [[className]]
 * | content
 */

@import "./vars.module.css";

/* The AnVIL class "hero" */
/* Markdown syntax [[hero]] */
.hero {
    color: var(--accent-dark);
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 16px;
}

/* The AnVIL class "hero small" */
/* Markdown syntax [[heroSmall]] */
.hero.small {
    font-size: 18px;
    line-height: 28px;
}

/* The AnVIL class "hero line" */
/* Markdown syntax [[heroLine]] */
.hero.line {
    margin: 0 0 32px;
    position: relative; /* Positions line separator */
}

/* Hero line separator */
.hero.line:after {
    border: 2px solid var(--accent-glacier);
    border-radius: 2px;
    bottom: -12px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 64px;
}

/* "hero" class - markdown content only */
.markdown .hero p {
    margin: 0; /* Required for markdown hero class - removal of margin on nested <p> tag */
}

/* The AnVIL class "caption" */
/* Markdown syntax [[caption]] */
.caption {
    color: var(--black58);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Font color reversal - dark backgrounds */
.bgDark h1, .bgDark h2, .bgDark h3, .bgDark h4, .bgDark .headline, .bgDark .hero, .bgDark .caption, .bgDark p {
    color: var(--white);
}

/* The AnVIL class "button dark" */
/* Markdown syntax [[button]] */
.button a {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    line-height: 24px;
    min-width: 64px;
    padding: 0 16px;
}

/* Button - dark */
.button.dark a {
    background-color: var(--primary);
    color: var(--white);
}

/* Button - dark hover state */
.button.dark:hover a {
    background-color: rgba(3, 92, 148, 0.87);
}

/* Button - light */
/* Markdown syntax [[buttonLight]] */
.button.light a {
    background-color: var(--shade-light);
    color: var(--shade-dark);
}

/* Button - light hover state */
.button.light:hover a {
    background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), linear-gradient(rgba(246, 247, 244, 1), rgba(246, 247, 244, 1));
}

/* Link - markdown links */
.markdown a:not(.anchor) {
    position: relative; /* Positions link line in markdown */
}

/* Link style - markdown content only */
.markdown a:not(.anchor):before {
    border: 1px solid var(--black12);
    border-radius: 1px;
    bottom: -2px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

/* Link style - hover state - markdown content only */
.markdown a:not(.anchor):hover:before {
    border: 1px solid rgba(174, 235, 242, 0.87);
    transition: border .25s ease-in;
}

/* Removal of link style within markdown from <a> tag - where required */
.button a:before {
    display: none !important; /* Required - removes link style from nested <a> tag */
}

/* Blockquote */
blockquote {
    color: var(--black58);
    margin: 0 0 24px 0;
    position: relative;
}

blockquote:before {
    background-color: var(--accent-gold);
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    left: -16px;
    opacity: 0.5;
    position: absolute;
    width: 4px;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Blockquote */
    blockquote:before {
        left: -12px;
    }

}
