/**
 * Colors
 */

:root {
    --black: #000000;
    --primary: #035C94;
    --accent-blue: #AEEBF2;
    --accent-dusky-green: #7EBAC0;
    --accent-mustard: #E0DD10;
    --accent-green: #12C5B2;
    --accent-orange: #FF8964;
    --accent-dark: #25445A;
    --shade-dark: #012840;
    --shade-light-peach: #F2F2F2;
    --shade-light: #F6F7F4;
    --white: #FFFFFF;
    --black1: rgba(0, 0, 0, 0.01);
    --black3: rgba(0, 0, 0, 0.03);
}
