/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search selected facets component.
 */

/* Selected facets. */
.selectedFacets {
    display: inline-flex;
    flex-wrap: wrap;
}

/* Query - label. */
.selectedFacets .label {
    flex-basis: 100%;
}
