/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL title component.
 */

/* Title. */
.title {
  align-self: center;
  flex-basis: 100%;
  font-size: 1.25rem; /* 20px */
  margin: 0 16px;
  overflow-x: auto;
  padding: 4px 0;
  text-transform: capitalize;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Title. */
  .title {
    font-size: 1.5rem; /* 24px */
    margin: 0 24px;
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {
  /* Title. */
  .title {
    font-size: 2rem; /* 32px */
  }
}
