/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL breadcrumb component.
 */

/* Breadcrumb. */
.breadcrumb {
    align-items: center;
    color: var(--black58);
    display: flex;
    font-size: 0.8125rem; /* 13px */
    font-weight: 300;
    letter-spacing: 0.075rem; /* 1.2px */
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* Breadcrumb - hover. */
.breadcrumb:hover {
    color: var(--black87);
}

/* Breadcrumb label. */
.breadcrumbLabel {
    margin-left: 4px;
}
