/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the BrandIcon component.
 */

/* Icon container */
.brandIcon {
  width: 65px;
}

/* Icon */
.brandIcon .brandIconImage {
  width: 100%;
}

/**
 * Large handset portrait, extra small window
 */
@media screen and (min-width: 600px) {
  /* Icon container */
  .brandIcon {
    padding: 0 10px;
    width: 90px;
  }
}
