/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the BrandIcon component.
 */

/* Icon container */
.brandIcon {
    padding: 0 10px;
    width: 90px;
}

/* Icon */
.brandIcon .brandIconImage {
    width: 100%;
}
