/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL inscription component.
 */
@import "../../styles/vars.module.css";

/* Inscription */
.inscription {
    color: var(--black58);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: -8px 0 16px;
}
