/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL edit content component.
 */
@import "../../styles/vars.module.css";

/* Edit content */
.editContent {
    border-top: 1px solid rgba(126, 186, 192, 0.38);
    cursor: pointer;
    margin-top: 60px;
    padding-top: 4px;
}

/* "Improve this page" */
.improve {
    background: linear-gradient(to top, transparent 0px, transparent 2px, rgba(174, 235, 242, 0.54) 2px, rgba(174, 235, 242, 0.54) 10px, transparent 10px);
    display: inline-block;
}
