/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search facet checkbox select component.
 */

/* Checkbox - container. */
.checkbox {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-bottom: 12px;
}

/* Checkbox - last. */
.checkbox:last-of-type {
  margin-bottom: 0;
}

/* Checkbox - inactive and zero count. */
.checkbox:not(.active).disabled {
  color: var(--black12);
  cursor: default;
  pointer-events: none;
}

/* Checkbox - active and zero count. */
.checkbox.active.disabled {
  color: var(--black58);
}

/* Check. */
.checkbox .check {
  border: 1px solid var(--primary);
  border-radius: 2px;
  box-sizing: content-box;
  flex: none;
  height: 13px;
  position: relative; /* Positions icon */
  width: 13px;
}

/* Check - active. */
.checkbox.active .check {
  background-color: var(--primary);
  opacity: 1;
  transition: all 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Check - inactive and zero count. */
.checkbox:not(.active).disabled .check {
  border: 1px solid var(--black12);
}

/* Check - active and zero count. */
.checkbox.active.disabled .check {
  background-color: var(--black34);
  border: 1px solid var(--black12);
}

/* Icon. */
.checkbox .icon {
  color: var(--white);
  cursor: inherit;
  font-size: 13px !important;
  position: absolute;
}

/* Inactive - hide icon. */
.checkbox:not(.active) .icon {
  display: none;
}

/* Label. */
.label {
  margin-left: 12px;
  word-break: break-word; /* Required for longer consent codes. */
}

/* Count. */
.count {
  flex: 1;
  padding-left: 16px;
  text-align: right;
}

/* Label, count. */
.label,
.count {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px; /* Required to equal checkbox height for alignment when label wraps. */
}

.check,
.icon,
.label {
  pointer-events: none;
}
