# general
README.md

# testing
coverage

# next.js
.next
out

# production
build

# dependencies
node_modules

# script input
scripts/files
scripts/new-cser-materials

# script output
components/Consortia/CSER/components/DataIngestionChart/chart-data.json

# MDX
docs/overview/publications.mdx

# ignore all .mdx files
docs/faq/using-anvil.mdx
