/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table row component.
 *
 * "anvil" identifier is for AnVIL dashboard.
 * "ncpi" identifier is for ncpi dashboard.
 * "summary" identifier is for the summary table.
 */

/* Row */
.row {
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1); /* For hover */
}

/* Row - hover state */
.row:hover {
    background-color: var(--black3);
}

/* AnVIL, NCPI row. */
[id^="anvil"] .row,
[id^="ncpi"] .row {
    border-bottom: 1px solid var(--black12);
    vertical-align: top; /* Vertical align to the top for AnVIL table - there will always be multi-line cells due to long titles */
}

/* Summary row. */
[id^="summary"] .row {
    border-bottom: 1px solid var(--shade-light-green);
}

/* Summary table - last before "total" row */
[id^="summary"] .row:nth-last-child(2) {
    border-bottom: none;
}

/* Summary table - "total" row */
[id^="summary"] .row:last-child {
    border-top: 1px solid var(--accent-blue-green);
    border-bottom-color: var(--accent-blue-green);
    font-weight: 500;
}
