/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL plus x more component.
 */

/* Plus more text. */
.plusMore {
    background-color: transparent;
    border: none;
    color: var(--primary);
    cursor: pointer;
    display: inherit;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    padding: 0;
    text-transform: inherit;
    white-space: pre;
}

.plusMore span {
    cursor: pointer; /* Required to override global tooltip style on <span> - TODO revisit */
}

.plusMore:focus {
    outline: none;
}
