/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL card component.
 */
@import "../../styles/vars.module.css";

/* Card */
.card {
    border: 1px solid var(--shade-light);
    border-radius: 4px;
    display: block;
    margin-bottom: 16px;
    padding: 16px;
}

/* Removal of markdown link style from <a> tag */
.card:before {
    display: none !important; /* Required */
}

/* Card - no margin */
.card p:last-child, .card.about > div {
    margin: 0;
}

/* Card "about" */
.card.about {
    background-color: var(--shade-light);
}

/* Card "team" - hover state */
.card.team.link:not(.anchor):hover {
    background-color: var(--black3);
}
