/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search facet toggle select component.
 */

/* Controls. */
.controls {
  display: grid;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-columns: minmax(32px, auto) minmax(32px, auto) 1fr;
}

/* Control label "No" "Yes". */
.controlLabel {
  color: var(--black58);
  font-weight: 400;
}

/* Toggle button. */
.toggle {
  align-self: flex-start;
  background-color: var(--primary6);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 2px;
}

/* First toggle button. */
.toggle:first-of-type {
  grid-column-start: 1;
}

/* Selected. */
.toggleSelected {
  background-color: var(--primary);
  color: var(--white);
}

/* Disabled - zero count. */
.toggle.disabled {
  background-color: var(--black6);
  color: var(--black12);
  pointer-events: none;
}

/* Selected disabled - zero count. */
.toggleSelected.disabled {
  background-color: var(--black58);
  color: var(--white);
  pointer-events: auto;
}

/* Label. */
.label {
  align-self: flex-start;
}

/* Label - disabled. */
.label.disabled {
  color: var(--black34);
}
