/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL nav menu component.
 */

/* Nav menu. */
.navMenu {
  background-color: var(--white);
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed; /* Positions menu and menu close button. */
  top: 0;
  width: 100vw;
  z-index: 2; /* Above heading <h1>. */
}

/* CSSTransition. */
/* Nav menu appearing. */
.navMenuAppear {
  opacity: 0;
}

/* Nav menu open. */
.navMenuAppearActive {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Nav menu closing. */
.navMenuClosed {
  opacity: 1;
}

/* Nav menu closed. */
.navMenuClosedActive {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/**
 * Large handset portrait, small handset landscape, extra small window. Nav side bar is sitting next to article.
 */
@media screen and (min-width: 840px) {
  /* Nav menu. */
  .navMenu {
    display: none;
  }
}
