/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dataset card.
 */

/* Card. */
.card {
  align-items: flex-start;
  border: 2px solid var(--grey);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

/* Card color. */
/* Card - first and subsequent. */
.card:nth-of-type(5n + 1) {
  border: 2px solid rgba(174, 235, 242, 0.54);
}

/* Card - first and subsequent. */
.card:nth-of-type(5n + 1) .cardHeader {
  border-bottom: 2px solid rgba(174, 235, 242, 0.54);
}

/* Card - second and subsequent. */
.card:nth-of-type(5n + 2) {
  border: 2px solid rgba(224, 221, 16, 0.54);
}

/* Card - second and subsequent. */
.card:nth-of-type(5n + 2) .cardHeader {
  border-bottom: 2px solid rgba(224, 221, 16, 0.54);
}

/* Card - third and subsequent. */
.card:nth-of-type(5n + 3) {
  border: 2px solid rgba(255, 137, 100, 0.54);
}

/* Card - third and subsequent. */
.card:nth-of-type(5n + 3) .cardHeader {
  border-bottom: 2px solid rgba(255, 137, 100, 0.54);
}

/* Card - fourth and subsequent. */
.card:nth-of-type(5n + 4) {
  border: 2px solid rgba(126, 186, 192, 0.54);
}

/* Card - fourth and subsequent. */
.card:nth-of-type(5n + 4) .cardHeader {
  border-bottom: 2px solid rgba(126, 186, 192, 0.54);
}

/* Header. */
.cardHeader {
  border-bottom: 2px solid var(--grey);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100%;
}

/* Title. */
.cardTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem; /* 24px. */
  font-weight: 400;
  line-height: 2rem; /* 32px. */
  margin: 4px 0;
}

/* Sub title. */
.cardSubTitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem; /* 14px. */
  font-weight: 400;
  line-height: 1.25rem; /* 20px. */
  margin: 0;
}

/* Card actions. */
.cardActions {
  display: flex;
  gap: 16px;
}

/* Action. */
.cardAction {
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem; /* 14px. */
  font-weight: 600;
  line-height: 1.125rem; /* 18px. */
}
