/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section latest updates.
 */

/* Heading (tertiary). */
.sectionCardHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 16px;
}
