/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL 404 error page.
 */

/* Error - all - positions all content above bubbles */
.error > * {
  position: relative;
  z-index: 2;
}

/* Link to "home" */
.error p:first-of-type {
  margin-bottom: 16px;
}

/* Bubbles */
.bubbles {
  bottom: 0;
  height: auto;
  left: 0;
  margin: 0;
  max-height: 580px;
  max-width: 623px;
  overflow: hidden;
  position: fixed;
  width: auto;
  z-index: 1; /* Required to be higher than section, lower than footer and error content */
}

/**
 * Large handset portrait, extra small window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {
  /* Bubbles */
  .bubbles {
    bottom: unset;
    left: unset;
    right: 0;
    top: 116px;
  }
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {
  /* Bubbles */
  .bubbles {
    top: 100px;
  }
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {
  /* Bubbles */
  .bubbles {
    right: calc(((100vw - 1232px) / 2) + 40px);
  }
}
