/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL side bar outline item component.
 */

/* Outline item. */
.outlineItem {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  margin: 0;
  padding: 4px 40px 4px 0; /* Matches nav. */
}

/* Outline item - active. */
.outlineItem.active {
  color: var(--primary);
}

/* Outline item - hover. */
.outlineItem:not(.active):hover {
  color: var(--black58);
}

/* Outline item - indent. */
.outlineItem.indent {
  padding-left: 16px;
}

/* Outline item - indent. */
.outlineItem.indent + .outlineItem:not(.indent) {
  margin-top: 8px;
}

/* Outline item link. */
.outlineItem > * {
  color: inherit;
}
