/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL logo font component.
 */

/* Logo - font. */
.logoFont {
    color: var(--primary);
    font-family: "Open Sans", sans-serif;
    font-size: 1.625rem; /* 26px. */
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem; /* 32px. */
    margin: 0;
}
