/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL modal component.
 */

/* Modal overlay, wrapper. */
.modalOverlay,
.modalWrapper {
  left: 0;
  position: fixed;
  top: 0;
}

/* Modal overlay. */
.modalOverlay {
  background-color: var(--black34);
  bottom: 0;
  right: 0;
  z-index: 20; /* Above header. */
}

/* Modal wrapper. */
.modalWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  z-index: 24; /* Above overlay. */
}
