/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL site search bar component.
 */

/* Search bar. */
.searchBar {
    align-items: center;
    display: flex;
    flex-basis: 36px;
    justify-content: flex-end;
}

/* Search bar - expanded. */
.searchBar.expanded {
    flex-basis: 100%;
}

/**
 * Large handset portrait, extra small window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {

    /* Search bar. */
    .searchBar {
        margin-left: 32px;
    }

    /* Search bar - expanded. */
    .searchBar.expanded {
        flex-basis: 400px;
    }

    /* Search bar, and expanded. */
    .searchBar, .searchBar.expanded {
        transition: flex-basis 300ms ease;
    }
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Search bar. */
    .searchBar {
        margin-left: 16px;
    }

    /* Search bar - expanded. */
    .searchBar.expanded {
        transition: flex-basis 300ms ease 300ms; /* Delay transition to allow navigation item opacity transition to execute first. */
    }
}

/**
 * Large handset portrait, small handset landscape, extra small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {

    /* Search bar. */
    .searchBar {
        margin-left: 24px;
    }
}

/**
 * Large tablet portrait, small tablet landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

    /* Search bar. */
    .searchBar {
        margin-left: 32px;
    }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    /* Search bar. */
    .searchBar {
        flex-basis: 200px;
    }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Search bar. */
    .searchBar {
        transition: flex-basis 300ms ease 300ms; /* Delay improves access to header links while search bar is open. */
    }

    /* Search bar - expanded. */
    .searchBar.expanded {
        transition: flex-basis 300ms ease;
    }
}
