/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL site search bar component.
 */

/* Search bar. */
.searchBar {
  display: none;
}

/* Search bar - active. */
.searchBar.active {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 64px;
  left: 0;
  padding: 0 16px;
  position: fixed;
  top: 0;
  width: 100vw;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Search bar. */
  .searchBar {
    display: flex;
    flex-basis: 360px;
  }

  /* Search bar - active. */
  .searchBar.active {
    height: unset;
    left: unset;
    padding: unset;
    position: relative;
    top: unset;
    width: unset;
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {
  /* Search bar. */
  .searchBar {
    flex-basis: 400px;
  }
}
