/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header branding component.
 */

/* Branding. */
.branding {
  display: none;
  flex: 1; /* Takes up remaining space. Pushes socials and search to RHS. */
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  margin: 0 12px;
  white-space: nowrap;
}

/* Branding text. */
.branding span {
  display: block;
}

/**
 * Extra Small Handset +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 375px) {
  /* Branding. */
  .branding {
    display: block;
  }
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Branding. */
  .branding {
    font-size: 14px;
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Branding. */
  .branding {
    margin-left: 32px;
  }
}
