/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL home page.
 */

/* Section - hero */

/* Section - styles */
/* Includes devices - detected with react-device-detect and class "handheld" */
.hero, .hero.handheld {
    padding: 60px 0;
}

/* Headline */
.hero .headline {
    color: var(--accent-dark);
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 82px;
    margin: 0 0 32px;
}

/* Subhead text */
.hero .subhead {
    color: var(--accent-dark);
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 16px;
}

/* Image */
.hero img {
    margin: 16px 0 0;
}

/**
 * Mobile only
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
*/
@media (max-width: 720px) and (max-height: 840px) {

    /* Section - hero */
    /* Headline */
    .hero.handheld .headline {
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
        margin: 0 0 16px;
    }

    /* Subhead text */
    .hero.handheld .subhead {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 8px;
    }
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Image */
    .hero img {
        margin: 16px 0 0;
        max-width: 650px;
    }
}

/**
 * iPad portrait ~
 */
@media (min-width: 1024px) and (max-height: 840px) {

    /* Section - hero */
    .hero.handheld {
        padding: 60px 0 40px;
    }
}
