/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL home page.
 */
@import "../../styles/vars.module.css";

/* Section - padding */
/* Hero */
.hero, .hero.handheld {
    padding: 60px 0;
}

/* Accessing, events, featured, news, onboarding, roadmap, submitting */
.accessing, .events, .featured, .news, .onboarding, .roadmap, .submitting {
    padding-top: 60px;
}

/* Last section */
section:last-child {
    padding-bottom: 60px;
}

/* Section - styles */

/* Hero - headline */
.hero .headline {
    color: var(--accent-blue-dark);
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 82px;
    margin: 0 0 32px;
}

/* Hero - subhead text */
.hero .subhead {
    color: var(--accent-blue-dark);
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 16px;
}

/* Hero - logo terra "Launch AnVIL in terra" */
.hero .linkTerra {
    margin-left: -24px;
}

.hero .logoTerra {
    margin: 0 12px 0 0;
    vertical-align: middle;
    width: 48px;
}

/**
 * Mobile only
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
*/
@media (max-width: 720px) and (max-height: 840px) {

    /* Section - styles */
    /* Hero - headline */
    .hero.handheld .headline {
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
        margin: 0 0 16px;
    }

    /* Hero - subhead text */
    .hero.handheld .subhead {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 8px;
    }
}

/**
 * iPad portrait ~
 */
@media (min-width: 1024px) and (max-height: 840px) {

    /* Section - padding */
    /* Hero */
    .hero.handheld {
        padding: 60px 0 40px;
    }
}
