/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL markdown component.
 */
@import "../../styles/vars.module.css";

/**
 * Content Styles
 */

/* Link style */
.content a {
    background: linear-gradient(to top, rgba(174, 235, 242, 0.38) 0, rgba(174, 235, 242, 0.38) 40%, transparent 40%, transparent 100%);
}

/* Button - remove link style from button */
.content button a, .content button a:hover {
    border-bottom: none; /* Required to override link style */
}

/* Blockquote */
.content blockquote {
    color: var(--black58);
    margin: 0 0 24px 0;
    position: relative;
}

/* Blockquote */
.content blockquote:before {
    background-color: var(--accent-gold);
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    left: -16px;
    opacity: 0.5;
    position: absolute;
    width: 4px;
}

/* Ordered list - secondary - style */
.content ol ol li {
    list-style: lower-alpha;
}

/* Ordered list - secondary list, last item */
.content ol ol li:last-of-type {
    margin-bottom: 12px;
}

/* Ordered list - secondary list end of ordered list */
.content ol li:last-of-type ol li:last-of-type {
    margin-bottom: 0;
}

/**
 * Large Tablet
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Blockquote */
    .content blockquote:before {
        left: -12px;
    }
}
