/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL markdown component.
 */
@import "../../styles/vars.module.css";

/**
 * Content Styles
 */

/* Link style, also matches styles in ArticleEnd and PrivacyBanner. */
.content a {
    color: var(--primary);
    border-bottom: 1px dashed #aaaaaa; /* Placeholder */
    text-decoration: none;
}

/* Link hover */
.content a:hover {
    border-bottom: 1px solid var(--primary); /* Placeholder */
}

/* Button - remove link style from button */
.content button a, .content button a:hover {
    border-bottom: none; /* Required to override link style */
}

/* Image zoom icon */
.content .zoomIcon::after {
    opacity: 0;
}

/* Image zoom icon - hover */
.content .zoomIcon:hover::after {
    background: url("../../../images/icon/image-zoom.png") no-repeat center / 100%;
    bottom: 24px;
    content: "";
    height: 60px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 24px;
    width: 60px;
}
