/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header menu button component.
 */

/* Menu. */
.menu {
  display: flex;
  margin-right: 16px;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Menu. */
  .menu {
    display: none;
  }
}
