/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data table header cell component.
 *
 * "studies" identifier is for workspaces table with studies included.
 * "summary" identifier is for the summary table.
 * "workspaces" identifier is for workspaces table.
 */
@import "../../styles/vars.module.css";

/* Header cell */
[id^="studies"] th,
[id^="summary"] th,
[id^="workspaces"] th {
    border-bottom: none;
    color: inherit;
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    line-height: 24px;
    padding: 0 4px 4px;
}

/* Header cell - right */
th.right {
    text-align: right;
}

/* Studies table */
/* Add padding to the right of cells for studies table to prevent long values from jamming up. */
[id^="studies"] th {
    padding: 0 8px 4px;
}

/* Header cell - first */
[id^="studies"] th:first-of-type,
[id^="summary"] th:first-of-type,
[id^="workspaces"] th:first-of-type {
    padding-left: 0;
}

/* Header cell - last */
[id^="studies"] th:last-of-type,
[id^="summary"] th:last-of-type,
[id^="workspaces"] th:last-of-type {
    padding-right: 0;
}
