/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table row cell gap id component.
 */

/* Row cell - linked cell */
td.link {
  color: var(--primary);
  cursor: pointer;
}
