/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header component.
 */
@import "../../styles/vars.module.css";

/* Header */
.header {
    background: var(--white);
    border-bottom: 1px solid var(--black12);
}

/* Header container. */
.header > div {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: stretch;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Header */
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /* Header container */
    .header > div {
        height: 64px;
    }

    /* Site search button. */
    .header button:first-of-type {
        margin-left: 16px;
    }

    /* Menu button */
    .header button:last-of-type {
        display: none;
    }
}
