/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header component.
 */
@import "../../styles/vars.module.css";

/* Header. */
.header {
    background: var(--white);
    border-bottom: 1px solid var(--black12);
}

/* Header container. */
.header > div {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: flex-end;
}

/**
 * Large tablet portrait, large handset landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Header. */
    .header {
        position: sticky;
        top: 0;
        z-index: 12; /* Above <Headline/>. */
    }

    /* Header container. */
    .header > div {
        height: 64px;
    }

    /* Menu button. */
    .header > div > button:last-of-type {
        display: none;
    }
}
