/*
 * The AnVIL
 * https://www.anvilproject.org/
 *
 * Style definitions specific to The AnVIL layout component.
 */

/* Site */
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Positions privacy banner */
}

/* No scroll */
.site.noScroll {
    left: 0;
    position: fixed;
    right: 0;
}

