/*
 * The AnVIL
 * https://www.anvilproject.org/
 *
 * Style definitions specific to The AnVIL layout component.
 */

/* Site */
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Menu open - no scroll */
.site.menuOpen {
    left: 0;
    position: fixed;
    right: 0;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Menu open - allow scroll if menu left open and screen re-sized */
    .site.menuOpen {
        position: relative;
    }
}

