/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article end component.
 */

/* End article */
.articleEnd {
    border-top: 1px solid rgba(126, 186, 192, 0.38);
    cursor: pointer;
    margin-top: 60px;
    padding-top: 4px;
}

/* Link - "Improve this page", "Content Guide" */
.articleEnd a {
    background: linear-gradient(to top, rgba(174, 235, 242, 0.54) 0, rgba(174, 235, 242, 0.54) 40%, transparent 40%, transparent 100%);
    display: block;
    width: fit-content;
}

/* Link - hover */
.articleEnd a:hover {
    background: linear-gradient(to top, rgba(174, 235, 242, 0.87) 0, rgba(174, 235, 242, 0.87) 40%, transparent 40%, transparent 100%);
}
