/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard study request access info component.
 */

/* Access information link. */
.link {
  color: var(--primary);
  cursor: pointer;
  display: block;
  margin-top: 8px;
}

/* Access information link - first. */
.link:first-of-type {
  margin-top: 0;
}
