/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search panel component.
 */

/* Panel. */
.panel {
    background-color: var(--primary3);
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-direction: column;
    margin: 1px 0;
    padding: 12px;
}

/* Inverted. */
.panel.inverted {
    background-color: transparent;
    border: 1px solid var(--primary6);
    flex-basis: unset;
}

/* Row. */
.panel.row {
    flex-direction: row;
    flex-wrap: wrap;
}

/* Panel - first. */
.panel:first-of-type {
    margin-top: 0;
}

/* Panel - last. */
.panel:last-of-type {
    margin-bottom: 0;
}

/* Panel label. */
.panel [id="group"] {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 12px;
}

/* Panel - "stretch". */
.panel.stretch {
    flex-basis: 100%;
    margin: 2px 0 0;
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) {

    /* Panel */
    .panel {
        flex-basis: inherit;
        margin: 0 1px;
    }

    /* Panel - first. */
    .panel:first-of-type {
        flex-basis: 100%;
        margin-bottom: 2px;
        margin-left: 0;
        margin-right: 0;
    }

    /* Panel - second. */
    .panel:nth-of-type(2) {
        margin-left: 0;
    }

    /* Panel - last. */
    .panel:last-of-type {
        margin-right: 0;
    }
}

/**
 * 1280px - Large tablet landscape, medium window
 */
@media screen and (min-width: 1280px) {

    /* Panel - first - search. */
    .panel:first-of-type {
        flex-basis: inherit;
        margin-bottom: 0;
        margin-right: 1px;
    }

    /* Panel - second. */
    .panel:nth-of-type(2) {
        margin-left: 1px;
    }
}
