/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search panel component.
 */

/* Panel. */
.panel {
  align-content: flex-start;
  background-color: var(--primary3);
  display: grid;
  gap: 12px 2px;
  grid-auto-columns: 1fr;
  grid-column: 2 span; /* Spans 2 cells. */
  grid-template-rows: auto auto;
  padding: 12px 0;
}

/* Inverted. */
.panel.inverted {
  background-color: transparent;
  border: 1px solid var(--primary6);
}

/* Panel - placeholder panel - hide. */
.panel[id="placeholder"] {
  display: none;
}

/* Panel - "spanGrid". */
.panel.spanGrid {
  grid-column: 1 / -1; /* Spans row. */
  grid-template-rows: auto;
  padding: 12px;
}

/* Panel facet name. */
.panel [id^="facetName"] {
  font-size: 14px;
  font-weight: 500;
  padding: 0 12px;
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) {
  /* Panel */
  .panel {
    grid-column: 2 span; /* Spans 2 cells. */
  }

  /* facet "search". */
  .panel[id="search"] {
    grid-column: 1 / -1; /* Spans row. */
  }

  /* facet "dataUseLimitations" */
  /* facet "dataUseLimitationModifiers" */
  .panel[id="dataUseLimitations"],
  .panel[id="dataUseLimitationModifiers"] {
    grid-column: 4 span; /* Spans 4 cells. */
  }

  /* Panel - placeholder panel - show. */
  .panel[id="placeholder"] {
    display: block;
  }
}

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {
  /* facet "dataUseLimitations" */
  /* facet "dataUseLimitationModifiers" */
  .panel[id="dataUseLimitations"],
  .panel[id="dataUseLimitationModifiers"] {
    grid-column: 3 span; /* Spans 3 cells. */
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 */
@media screen and (min-width: 1280px) {
  /* Panel */
  .panel {
    grid-column: 2 span; /* Spans 2 cell. */
  }

  /* facet "dataUseLimitations" */
  /* facet "dataUseLimitationModifiers" */
  .panel[id="dataUseLimitations"],
  .panel[id="dataUseLimitationModifiers"] {
    grid-column: 5 span; /* Spans 5 cells. */
  }

  /* Panel - placeholder panel - hide. */
  .panel[id="placeholder"] {
    display: none;
  }
}

/**
 * Large tablet landscape, large window.
 */
@media screen and (min-width: 1600px) {
  /* Panel. */
  /* facet "search". */
  .panel,
  .panel[id="search"] {
    grid-column: 1 span; /* Spans 1 cell. */
  }

  /* facet "dataUseLimitations" */
  .panel[id="dataUseLimitations"] {
    grid-column: 2 span; /* Spans 2 cells. */
  }

  /* facet "dataUseLimitationModifiers" */
  .panel[id="dataUseLimitationModifiers"] {
    grid-column: 1 span; /* Spans 1 cell. */
  }

  /* Placeholder. */
  .panel[id="dataUseLimitationModifiers"] + [id="placeholder"] {
    display: block;
  }
}
