/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search panel component.
 */

/* Panel. */
.panel {
  background-color: var(--primary3);
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-direction: column;
  margin: 1px 0;
  padding: 12px;
}

/* Inverted. */
.panel.inverted {
  background-color: transparent;
  border: 1px solid var(--primary6);
  flex-basis: unset;
}

/* Row. */
.panel.row {
  flex-direction: row;
  flex-wrap: wrap;
}

/* Panel - 3x facets. */
/* Panel - 6x facets. */
.panel.x3,
.panel.x6 {
  min-width: 180px;
}

/* Panel - 4x facets. */
/* Panel - 5x facets. */
.panel.x4,
.panel.x5 {
  min-width: 280px;
}

/* Panel - placeholder panel - hide. */
.panel.placeholder {
  display: none;
}

/* Panel - first. */
.panel:first-of-type {
  margin-top: 0;
}

/* Panel - last. */
.panel:last-of-type {
  margin-bottom: 0;
}

/* Panel label. */
.panel [id="group"] {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: 12px;
}

/* Panel - "stretch". */
.panel.stretch {
  flex-basis: 100%;
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) {
  /* Panel */
  .panel {
    flex-basis: inherit;
  }

  /* Panel - first. */
  .panel:first-of-type {
    flex-basis: 100%;
  }

  /* Panel - 3x, 4x, 5x, 6x facets. */
  .panel.x3,
  .panel.x4,
  .panel.x5,
  .panel.x6 {
    margin: 1px;
  }

  /* Panel - 3x, 4x, 5x, 6x facets - remove left side margin. */
  .panel.x3:nth-of-type(2),
  .panel.x4:nth-of-type(2),
  .panel.x4:nth-of-type(4),
  .panel.x5:nth-of-type(2),
  .panel.x5:nth-of-type(4),
  .panel.x5:nth-of-type(6),
  .panel.x6:nth-of-type(2),
  .panel.x6:nth-of-type(5) {
    margin-left: 0;
  }

  /* Panel - 3x, 4x, 5x, 6x facets - remove right side margin. */
  .panel.x3:nth-of-type(4),
  .panel.x4:nth-of-type(3),
  .panel.x4:nth-of-type(5),
  .panel.x5:nth-of-type(3),
  .panel.x5:nth-of-type(5),
  .panel.x5:nth-of-type(7),
  .panel.x6:nth-of-type(4),
  .panel.x6:nth-of-type(7) {
    margin-right: 0;
  }

  /* Panel - placeholder panel - show. */
  .panel.placeholder {
    display: flex;
  }
}

/**
 * Large tablet portrait, large handset landscape, small window.
 */
@media screen and (min-width: 720px) {
  /* Panel - 6x facets (3x columns). */
  .panel.x6 {
    min-width: 220px; /* Maintains 3 across. */
  }
}

/**
 * Large tablet portrait, large handset landscape, small window.
 */
@media screen and (min-width: 840px) {
  /* Panel - 4x facets. */
  /* Panel - 5x facets. */
  .panel.x4,
  .panel.x5 {
    min-width: 304px;
  }

  /* Panel - 6x facets (3x columns). */
  .panel.x6 {
    min-width: 260px; /* Maintains 3 across. */
  }
}

/**
 * Large tablet portrait, small tablet landscape, small window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {
  /* Panel 4x. */
  /* Panel - 4x facets. */
  .panel.x4 {
    min-width: unset;
  }

  /* Panel - 4x facets - second facet. */
  .panel.x4:nth-of-type(3) {
    margin-right: 1px;
  }

  /* Panel - 4x facets - third facet. */
  .panel.x4:nth-of-type(4) {
    margin-left: 1px;
  }

  /* Panel 5x (3 x columns, with placeholder). */
  /* Panel - 5x facets. */
  .panel.x5 {
    min-width: 280px; /* Maintains 3 across. */
  }

  /* Panel - 5x facets - restore left side margin. */
  .panel.x5:nth-of-type(4),
  .panel.x5:nth-of-type(6) {
    margin-left: 1px;
  }

  /* Panel - 5x facets - restore right side margin. */
  .panel.x5:nth-of-type(3),
  .panel.x5:nth-of-type(5) {
    margin-right: 1px;
  }

  /* Panel - 5x facets - remove right side margin. */
  .panel.x5:nth-of-type(4) {
    margin-right: 0;
  }

  /* Panel - 5x facets - remove left side margin. */
  .panel.x5:nth-of-type(5) {
    margin-left: 0;
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Panel - 5x facets (3 x columns, with placeholder). */
  /* Panel - 6x facets (3x columns). */
  .panel.x5,
  .panel.x6 {
    min-width: 308px; /* Maintains 3 across. */
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 */
@media screen and (min-width: 1280px) {
  /* Panel - first - search. */
  .panel:first-of-type {
    flex-basis: inherit;
    margin-right: 1px;
  }

  /* Panel - placeholder panel - hide. */
  .panel.placeholder {
    display: none;
  }

  /* Panel - 5x facets (no placeholder). */
  /* Panel - 6x facets. */
  .panel.x5,
  .panel.x6 {
    min-width: unset;
  }

  /* Panel 3x, 4x, 5x, 6x. */
  .panel.x3,
  .panel.x4,
  .panel.x5,
  .panel.x6 {
    margin-top: 0;
  }

  /* Panel - 3x, 4x, 5x, 6x facets - first facet. */
  .panel.x3:nth-of-type(2),
  .panel.x4:nth-of-type(2),
  .panel.x5:nth-of-type(2),
  .panel.x6:nth-of-type(2) {
    margin-left: 1px;
  }

  /* Panel - 5x, 6x facets - restore right side margin. */
  .panel.x5:nth-of-type(4),
  .panel.x6:nth-of-type(4) {
    margin-right: 1px;
  }

  /* Panel - 5x, 6x facets - restore left side margin. */
  .panel.x5:nth-of-type(5),
  .panel.x6:nth-of-type(5) {
    margin-left: 1px;
  }
}
