/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header nav bar component.
 */

/* Header nav bar. */
.headerNavBar {
  display: none;
  height: inherit;
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Header nav bar. */
  .headerNavBar {
    display: flex;
    flex-basis: 100%;
    height: 40px;
  }
}
