/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL card collection component.
 */
@import "../../styles/vars.module.css";

/* Match event/news spacing between each list item */
.collection .listItem {
    margin: 32px 0;
}

/* Icon container */
.collection .iconContainer {
    padding: 0 10px;
    width: 90px;
}

/* Icon */
.collection .icon {
    width: 100%;
}
