/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL carousel component.
 */
@import "../../styles/vars.module.css";

/* Carousel container */
.carousel {
    background-color: var(--primary);
    color: var(--white);
    padding: 24px 0;
}

/* Wrapper around carousel content and left, right arrows */
/* On rotation */
.carousel .rotation {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Cursor - pointer */
/* Left, right arrow */
/* Slot container */
.carousel img, .slot {
    cursor: pointer;
}

/* Left, right arrow */
.carousel img {
    height: 24px;
    margin: 0;
    width: 12px;
}

/* Slot - container */
.carousel .slider {
    position: relative; /* Positions hidden slots */
}

/* Slot */
.slot {
    margin: 0 36px;
}

/* Slot - hidden */
.slot:not(.show) {
    animation: hideSlot 0.5s ease 0s;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

/* Slot - show */
.slot.show {
    animation: showSlot 0.5s ease 0s;
    opacity: 1;
    position: relative;
    visibility: visible;
}

/* Animation - show slot */
@keyframes showSlot {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation - hide slot */
@keyframes hideSlot {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Type */
.slot .type {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
}

/* Title */
.slot h4 {
    color: inherit;
    display: -webkit-box;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

/* Content */
.slot .ellipsis {
    display: -webkit-box;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

/* Learn more */
.slot .learnMore {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

/* Learn more ">>" */
.slot .learnMore img {
    height: 8px;
    margin-left: 8px;
    width: 10px;
}

/* Bullets container */
.bullets {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

/* Bullet */
.bullets span {
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 8px;
    margin: 0 4px;
    opacity: 0.38;
    width: 8px;
}

/* Bullet - active */
.bullets span.active {
    opacity: 1;
}
