/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL carousel component.
 */
@import "../../styles/vars.module.css";

/* Carousel container */
.carousel {
    background-color: var(--primary);
    color: var(--white);
    padding: 24px 0;
}

/* Wrapper around carousel content and left, right arrows */
/* On rotation */
.carousel .rotation {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Rotation container - stretch */
.carousel .rotation > div {
    flex: 1;
}

/* Cursor - pointer */
/* Left, right arrow container */
/* Slot container */
.carousel .arrow, .slot {
    cursor: pointer;
}

/* Left, right arrow container */
.carousel .arrow {
    align-self: stretch; /* To take up full height of parent */
    display: flex;
    flex: none;
    -webkit-tap-highlight-color: transparent;
}

/* Left arrow container */
.carousel .arrow:first-child {
    padding-right: 24px;
}

/* Right arrow container */
.carousel .arrow:last-child {
    padding-left: 24px;
}

/* Left, right arrow */
.carousel .arrow img {
    align-self: center;
    height: 24px;
    margin: 0;
    width: 12px;
}

/* Slot - container */
.carousel .slider {
    position: relative; /* Positions hidden slots */
}

/* Slot - hidden */
.slot:not(.show) {
    animation: hideSlot 0.5s ease 0s;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

/* Slot - show */
.slot.show {
    animation: showSlot 0.5s ease 0s;
    opacity: 1;
    position: relative;
    visibility: visible;
}

/* Animation - show slot */
@keyframes showSlot {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation - hide slot */
@keyframes hideSlot {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Hero */
.slot .hero {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}

/* Logo */
.slot img {
    display: inline-flex;
    height: 32px;
    margin: 0 16px 0 0;
    width: auto;
}

/* Type */
.slot .type {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

/* Title */
.slot h4 {
    color: inherit;
    display: -webkit-box;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

/* Content */
.slot .ellipsis {
    display: -webkit-box;
    margin-bottom: 12px;
    min-height: 48px; /* Required for when blurb is a single line */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

/* Learn more */
.slot .learnMore {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

/* Learn more ">>" */
.slot .learnMore img {
    height: 8px;
    margin-left: 8px;
    width: 10px;
}

/* Bullets container */
.bullets {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

/* Bullet */
.bullets span {
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 8px;
    margin: 0 4px;
    opacity: 0.38;
    width: 8px;
}

/* Bullet - active */
.bullets span.active {
    opacity: 1;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Left arrow container */
    .carousel .arrow:first-child {
        padding-right: 36px;
    }

    /* Right arrow container */
    .carousel .arrow:last-child {
        padding-left: 36px;
    }
}
