/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL modal dashboard facet term selector component.
 */

/* Facet snapshot. */
.facetSnapshot {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2px;
}
