/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL checkbox component.
 */

/* Checkbox - container. */
.checkbox {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 12px;
}

/* Checkbox - last. */
.checkbox:last-of-type {
    margin-bottom: 0;
}

/* Checkbox - inactive and zero count. */
.checkbox:not(.active).disabled {
    color: var(--black12);
    cursor: default;
    pointer-events: none;
}

/* Checkbox - active and zero count. */
.checkbox.active.disabled {
    color: var(--black58);
}

/* Check. */
.checkbox .check {
    border: 2px solid var(--primary);
    border-radius: 2px;
    box-sizing: content-box;
    flex: none;
    height: 14px;
    position: relative; /* Positions icon */
    width: 14px;
}

/* Check - active. */
.checkbox.active .check {
    background-color: var(--primary);
    opacity: 1;
    transition: all 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Check - inactive and zero count. */
.checkbox:not(.active).disabled .check {
    border: 2px solid var(--black12);
}

/* Check - active and zero count. */
.checkbox.active.disabled .check {
    background-color: var(--black34);
    border: 2px solid var(--black12);
}

/* Icon. */
.checkbox .icon {
    color: var(--white);
    cursor: inherit;
    font-size: 14px !important;
    position: absolute;
}

/* Inactive - hide icon. */
.checkbox:not(.active) .icon {
    display: none;
}

/* Label */
.label {
    font-size: 14px;
    margin-left: 12px;
}

/* Count */
.count {
    flex: 1;
    padding-left: 8px;
    text-align: right;
}

.check, .icon, .label {
    pointer-events: none;
}
