/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section addendum.
 */

/* Addendum. */
.sectionAddendum {
  grid-column: 2 / -2;
  grid-row: 6;
}

/**
 *  Small tablet landscape, small window
 */
@media screen and (min-width: 960px) {

  /* Addendum. */
  .sectionAddendum {
    grid-row: 5;
  }
}
