/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL article content container component.
 */

/* Content container */
.contentContainer {
  width: 100%; /* Required - to stretch markdown content with a few words e.g. "Contact" */
}

/**
 * Column row layout changes to row layout (left nav/content/outline), in addition to complimentary JS in scroll.service
 */
@media screen and (min-width: 840px) {
  /* Content container */
  .contentContainer {
    margin: 0 auto 0 0;
  }
}

/**
 * Outline is now visible, allow space for outline.
 */
@media screen and (min-width: 1024px) {
  /* Content container */
  .contentContainer {
    max-width: calc(100% - 238px);
  }
}

/**
 * Content has reached its max width.
 */
@media screen and (min-width: 1386px) {
  /* Content container */
  .contentContainer {
    max-width: 780px;
  }
}
