/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header nav item component.
 */

/* Navigation item */
.headerNavItem {
    align-items: center;
    display: flex;
    font-weight: 400;
    margin-bottom: 8px;
    padding-left: 24px;
}

/* Link */
.headerNavItem a {
    color: var(--accent-blue-dark);
    font-family: "Open Sans", sans-serif;
    position: relative;
}

/* Link - active */
.headerNavItem a.active:before, .headerNavItem a:hover:before {
    border-radius: 1px;
    bottom: 2px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    transition: opacity .25s ease;
    width: 24px;
}

/* Link - hover */
.headerNavItem a:not(.active):hover:before {
    border: 1px solid rgba(174, 235, 242, 0.34);
}

.headerNavItem a.active:before {
    border: 1px solid var(--accent-blue-light);
}

/**
 * Large Tablet +, Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    /* Navigation item */
    .headerNavItem {
        height: inherit;
        margin: 0 0 0 32px;
        overflow-y: unset;
        padding: 0;
    }

    /* Link */
    .headerNavItem a {
        white-space: nowrap;
    }

    /* Link - active */
    .headerNavItem a.active:before, .headerNavItem a:hover:before {
        border-radius: 2px;
        bottom: -4px;
        width: 100%;
    }

    /* Link - hover */
    .headerNavItem a:not(.active):hover:before {
        border: 2px solid var(--black12);
    }

    .headerNavItem a.active:before {
        border: 2px solid var(--accent-blue-light);
    }
}
