/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL header nav item component.
 */

/* Navigation item */
.headerNavItem {
  font-weight: 400;
  padding-left: 24px;
}

/* Navigation item & last item */
.headerNavItem,
.headerNavItem:last-of-type {
  margin-bottom: 8px; /* Overrides typography li:last-of-type style. */
}

/* Link */
.headerNavItem a {
  color: var(--accent-blue-dark);
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* Link - active */
.headerNavItem a.active:before,
.headerNavItem a:hover:before {
  border-radius: 1px;
  bottom: 2px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  transition: opacity 0.25s ease;
  width: 100%;
}

/* Link - hover */
.headerNavItem a:not(.active):hover:before {
  border: 1px solid var(--accent-mustard54);
}

/* NCPI Link - hover */
.headerNavItem.ncpi a:not(.active):hover:before {
  border: 1px solid var(--primary-ncpi12);
}

.headerNavItem a.active:before {
  border: 1px solid var(--accent-blue-light);
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Navigation item */
  .headerNavItem {
    height: inherit;
    margin: 0 0 0 32px;
    overflow-y: unset;
    padding: 0;
  }

  /* Navigation item & last item */
  .headerNavItem,
  .headerNavItem:last-of-type {
    margin-bottom: 0; /* Overrides typography li:last-of-type style. */
  }

  /* Link */
  .headerNavItem a {
    white-space: nowrap;
  }

  /* Link - active */
  .headerNavItem a.active:before,
  .headerNavItem a:hover:before {
    border-radius: 2px;
    bottom: -4px;
  }

  /* Link - hover */
  .headerNavItem a:not(.active):hover:before {
    border: 2px solid var(--accent-mustard54);
  }

  /* NCPI Link - hover */
  .headerNavItem.ncpi a:not(.active):hover:before {
    border: 2px solid var(--primary-ncpi12);
  }

  .headerNavItem a.active:before {
    border: 2px solid var(--accent-blue-light);
  }
}
