/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section intro component.
 */
@import "../../styles/vars.module.css";

/* Section body - background */
.sectionBody.bgPale {
    background-color: rgba(246, 247, 244, 0.38);
    margin-top: 60px;
}

/* Container */
.sectionBody .container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 650px;
    padding: 0 16px;
}
