/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section intro component.
 */

/* Intro */
.sectionIntro {
  flex-direction: column;
  margin-bottom: -18px; /* Required to maintain section padding - altered by <SectionSplash> component translateY value */
}

/* Title <h1> */
.sectionIntro > h1 {
  margin: 0;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Intro */
  .sectionIntro {
    margin-bottom: unset;
  }

  /* Intro - "end", "start" */
  .end,
  .start {
    justify-content: space-between;
  }

  /* Intro - "end" */
  .end {
    flex-direction: row;
  }

  /* Intro - "start" */
  .start {
    flex-direction: row-reverse;
  }

  /* Title <h1> - "end", "start" */
  .end > h1,
  .start > h1 {
    margin: 16px 0 0;
  }

  /* Title <h1>  - "stretch" */
  .stretch > h1 {
    text-align: center;
  }

  /* Title <h1> - "wrap" */
  .sectionIntro > h1.wrap {
    max-width: 264px;
  }
}
