/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section intro component.
 */

/* Container */
.sectionBody .container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
