/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL site search form component.
 */

/* Form. */
.form {
  margin: 0;
  position: relative; /* Positions search icon and clear button. */
  width: 100%; /* Takes up all available width. */
}
