/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL footer component.
 */
@import "../../styles/vars.module.css";

/* Footer */
.footer {
    background: var(--shade-dark);
}

/* Footer container */
.footer > div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

/* Socials */
.footer .socials {
    align-items: center;
    display: flex;
    height: 64px;
}

/* Socials - link */
.footer .socials a {
    line-height: 0;
}

/* GitHub image */
.footer .socials img {
    height: 24px;
    margin: 0 0 0 16px;
}

.footer i {
    color: white;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Socials */
    .footer .socials {
        height: 96px;
    }
}

