/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section splash component.
 */
@import "../../styles/vars.module.css";

/* Splash container */
.splash {
    margin: 0 -16px;
    max-width: unset;
    padding: 24px 16px;
    transform: translateY(-18px);
    width: 100vw;
}

/* Splash - odd background */
section:nth-child(2n+3) .splash {
    background-color: rgba(174, 235, 242, 0.12);
}

/* Splash - even background */
section:nth-child(2n+4) .splash {
    background-color: rgba(126, 186, 192, 0.12);
}

/* Heading <h1> - hide markdown */
.splash h1 {
    display: none;
}

/* Paragraph - overrides <Markdown> component styles */
.splash p {
    color: var(--accent-blue-dark);
    font-size: 1.125rem; /* 18px */
    font-weight: 300;
    line-height: 1.75rem; /*28 px */
    text-align: left;
}

/* Paragraph - last of type - targeted for "Featured Workspaces" section */
.splash p:last-of-type {
    margin-bottom: 12px;
}

/* Paragraph - last */
.splash p:last-child {
    margin-bottom: 0;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Splash - "end", "start", "stretch" */
    .splash {
        margin: unset;
        transform: unset;
        width: 100%;
    }

    /* Splash - "end" */
    .splash.end {
        margin-left: -100%; /* Pulls container across to max width setting */
        max-width: 566px;
        padding: 24px 100px 24px 132px;
    }

    /* Splash - "start" */
    .splash.start {
        margin-right: -100%; /* Pulls container across to max width setting */
        max-width: 566px;
        padding: 24px 132px 24px 64px;
    }

    /* Splash - "stretch" */
    .splash.stretch {
        margin-top: -18px;
        padding: 44px 32px 24px;
    }
}
