/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data study card component.
 */

/* Study */
.study {
    border-radius: 4px;
    border-top: 1px solid var(--shade-light-green);
}

/* Study - container. */
.study:not(:last-of-type) {
    margin-bottom: 24px;
}
