/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL socials component.
 */
@import "../../styles/vars.module.css";

/* Socials - container. */
.socials {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/* Socials - container - article bottom. */
.socials.articleBottom {
    box-sizing: content-box;
    height: 30px;
    margin-bottom: 0;
    margin-top: 60px;
    padding-top: 8px;
}

/* Socials - article bottom - <a> element. */
/* Overrides styles on <a> element in <social> component. */
.socials.articleBottom a {
    height: inherit;
    padding: 0 16px;
}

/* Socials - article bottom - twitter social. */
/* Overrides styles on first <a> element in <social> component. */
.socials.articleBottom a:first-of-type {
    padding-left: 0;
    padding-right: 10px;
}

/* Socials - article bottom - email social. */
/* Overrides styles on last <a> element in <social> component. */
.socials.articleBottom a:last-of-type {
    padding-right: 0;
}

/* Socials - container - not articleBottom. */
.socials:not(.articleBottom) {
    align-items: flex-start;
    flex-direction: column;
}

/**
 * Small tablet portrait, medium handset landscape, small window
 */
@media screen and (min-width: 600px) {

    /* Socials - container - not articleBottom. */
    .socials:not(.articleBottom) {
        align-items: center;
        flex-direction: row;
    }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 * Outline is now visible.
 */
@media screen and (min-width: 1024px) {

    /* Socials - container - not articleBottom. */
    .socials:not(.articleBottom) {
        align-items: flex-start;
        flex-direction: column;
    }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Socials - container - not articleBottom. */
    .socials:not(.articleBottom) {
        align-items: center;
        flex-direction: row;
    }
}
