/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section workspace cloud.
 */

/* Cards. */
.sectionCards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}
