/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section workspace cloud.
 */

/* Hero. */
.sectionHero {
  composes: sectionHero from "../section/section-content/section-content.module.css";
}

/* Cards. */
.sectionCards {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) {
  /* Cards. */
  .sectionCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**
 * Optimized for home page channel.
 */
@media screen and (min-width: 1200px) {
  /* Cards. */
  .sectionCards {
    gap: 48px;
    grid-template-columns: repeat(3, 1fr);
  }
}
