/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL nav list component.
 */

@import "../../../styles/vars.module.css";

/* List style - <ul> */
.navList,
.navList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
