/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data search selected facet component.
 */
@import "../../styles/vars.module.css";

/* Facet. */
.facet {
    display: inline-flex;
    flex-wrap: wrap;
}

/* Facet - last. */
.facet:last-of-type {
    padding-right: 8px;
}

/* Facet name. */
.facet .facetName {
    color: var(--black58);
    cursor: pointer;
    padding-right: 4px;
    white-space: nowrap;
}

/* Facet name - hover. */
.facet .facetName:hover {
    text-decoration: line-through;
}

/* Operator "AND". */
.operator {
    padding-right: 4px;
}
