/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL scoop component.
 */
@import "../../styles/vars.module.css";

/* Scoop */
.scoop {
    display: block; /* TODO Mim review and style */
    margin: 16px 0; /* Home page only */
}

/* Specified styles - event */
/* TODO */
.scoop.event {
    margin: 32px 0;
}

/* Specified styles - news */
/* TODO */
.scoop.news {
    margin: 32px 0;
}

/* Scoop - last one */
.scoop:last-of-type {
    margin-bottom: 0;
}
