/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search selected facet component.
 */

/* Facet name. */
.facetName {
  color: var(--black58);
  cursor: pointer;
  padding-right: 4px;
  white-space: nowrap;
}

/* Facet name - hover. */
.facetName:hover {
  text-decoration: line-through;
}

/* Operator "AND". */
.operator {
  padding-right: 4px;
}
