/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL style guide typography example component.
 */

/* Example - paragraph only - last example */
.example p:last-child {
  margin-top: -16px;
  padding-top: 16px;
}

/* Lorem ipsum... */
.example .latin {
  max-width: 75%;
}

/**
 * Small
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {
  /* Lorem ipsum... */
  .example .latin {
    max-width: 325px;
  }
}
