/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard download tsv component.
 */

/* Download - icon and text. */
.download,
.download + i {
  color: var(--primary);
}

/* Download - text. */
.download {
  font-size: 14px;
  line-height: 20px;
  margin-right: 4px;
}

/* Download - icon. */
.download + i {
  font-size: 20px;
}
