/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL headline component.
 */

/* Headline. */
.headline {
  background-color: var(--white);
  border-bottom: 1px solid var(--black6);
  position: relative; /* Positions tabs fuzz and nav menu button. */
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Headline. */
  .headline {
    position: sticky;
    top: 60px; /* Header height. */
    z-index: 10; /* Equivalent to header. */
  }
}

/**
 * Large tablet portrait, large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {
  /* Headline. */
  .headline {
    top: 100px; /* Header height. */
  }
}
