/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL headline component.
 */

/* Headline. */
.headline {
  background-color: var(--white);
  box-shadow: inset 0 -1px var(--black6);
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Headline. */
  .headline {
    position: sticky;
    top: 65px; /* Header height. */
    z-index: 10; /* Equivalent to header. */
  }
}
