/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL outline component.
 */
@import "../../styles/vars.module.css";

/* Outline ul and li */
ul.outline, .outline li {
    list-style: none;
}

/* Outline container */
ul.outline {
    display: none;
    flex: none;
    height: 100%;
    margin: 0;
    position: sticky;
    top: 105px;
    width: 284px;
}

/* Outline - container */
.outline li {
    padding-left: 8px;
    position: relative;
}

/* Outline - line */
.outline li::before {
    border-left: 1px solid var(--shade-light);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
}

/* First outline */
.outline li:first-child::before {
    top: 50%;
}

/* Last outline */
.outline li:last-child::before {
    bottom: 50%;
}

/* Link */
.outline li a {
    color: var(--black58);
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Link - hover state */
.outline li:hover a {
    color: var(--black87);
}

/* Link - active */
.outline li a.active {
    color: var(--shade-dark);
    position: relative;
}

/* Link - active indicator */
.outline li a.active::after {
    background-color: var(--accent-gold);
    border-radius: 50%;
    content: "";
    height: 5px;
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
}

/* Link - indentation */
.outline .indent {
    padding-left: 16px;
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    ul.outline {
        display: block;
    }
}
