/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL outline component.
 */
@import "../../styles/vars.module.css";

/* Outline container */
.outline {
    bottom: 0;
    display: none;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide scrollbar in IE unless actively scrolling. */
    overflow-y: auto; /* Scroll - hide webkit scrollbar unless actively scrolling. */
    padding-left: 2px; /* Required for indicator ball to be shown in overflow environment */
    position: fixed;
    right: 24px; /* Gutter */
    scrollbar-width: none; /* Firefox 64 */
    top: 100px;
    width: 220px;
}

/* Outline scrollbar */
.outline::-webkit-scrollbar {
    display: none;
}

/* Outline vertical line */
.outline::before {
    background-color: var(--accent-blue-light);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 1px;
}

/* Outline ul and li */
.outline ul, .outline li {
    list-style: none;
}

/* Outline - unordered list */
.outline ul {
    border-left: 1px solid var(--accent-blue-light);
    margin: 0;
    padding: 0 8px 0 0; /* RHS to allow for scroll bar */
}

/* Outline - list */
.outline li {
    line-height: 18px;
    padding-left: 24px;
}

/* Outline - list - not last */
.outline li:not(:last-of-type) {
    margin-bottom: 2px;
}

/* Outline - first list <h1> */
.outline li:first-of-type {
    position: relative; /* Positions first list <h1> line */
}

/* Outline - first list <h1> line */
.outline li:first-of-type::after {
    border-bottom: 1px solid var(--black12);
    content: "";
    display: block;
    margin: 8px 0;
    width: 50%;
}

/* Link */
.outline li a {
    color: var(--accent-blue-dark);
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 8px; /* For background color indicators */
    position: relative; /* Positions indicators */
}

/* Link - background - active, hover */
.outline li a.active, .outline li:hover a {
    border-radius: 4px;
}

/* Link - background - active */
.outline li a.active {
    background-color: rgba(174, 235, 242, 0.54);
}

/* Link - background - hover state only */
.outline li:hover a:not(.active) {
    background-color: rgba(0, 0, 0, 0.03);
}

/* Link - indicators */
.outline li a::before, .outline li a::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Link - hover and active line */
.outline li a.active::after, .outline li:hover a::after {
    height: 1px;
}

/* Link - hover and active line - first level */
.outline li a.active:not(.indent)::after, .outline li:hover a:not(.indent)::after {
    left: -22px;
    width: 22px;
}

/* Link - hover and active line indented - second level */
.outline li a.active.indent::after, .outline li:hover a.indent::after {
    left: -38px;
    width: 38px;
}

/* Link - hover and active ball indicator */
.outline li a.active::before, .outline li:hover a::before {
    border-radius: 50%;
    bottom: -2px;
    height: 5px;
    width: 5px;
}

/* Link - hover and active ball indicator - first level */
.outline li a.active:not(.indent)::before, .outline li:hover a:not(.indent)::before {
    left: -27px;
}

/* Link - hover and active ball indicator - second level */
.outline li a.active.indent::before, .outline li:hover a.indent::before {
    left: -43px;
}

/* Link - indicator colors - active */
.outline li a.active::before, .outline li a.active::after {
    background-color: var(--accent-blue-light);
}

/* Link - indicator colors - hover */
.outline li:hover a:not(.active)::before, .outline li:hover a:not(.active)::after {
    background-color: var(--black6);
}

/* Link - transitions - hover */
.outline li a, .outline li a::before, .outline li a::after {
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Link - indentation - second level */
.outline .indent {
    margin-left: 16px;
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

    /* Outline container */
    .outline {
        display: block;
    }
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Outline container */
    .outline {
        right: calc((100vw - 1232px)/2 + 2px);
        width: 284px;
    }
}
