/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data table component.
 */
@import "../../styles/vars.module.css";

/* Table wrapper */
/* Allows for overflow on smaller screens */
.wrapper {
    color: var(--accent-blue-dark);
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

/* Table wrapper - summary */
.wrapper.summary {
    margin-bottom: 24px;
}

/* Table wrapper - workspaces */
.wrapper.workspaces {
    width: calc(100vw - 24px); /* Allow table to stretch to right-hand side of device, to indicate more */
}

/* Table */
table {
    display: inline-table;
    margin: 0;
}

/* Header */
.header {
    border-bottom: 1px solid var(--accent-blue-green);
    height: 42px;
    vertical-align: bottom;
}

/* Header cell, row cell */
.header th, .row td {
    border-bottom: none;
    color: inherit;
    font-size: 0.875rem; /* 14px */
}

/* Header cells */
.header th {
    font-weight: 600;
    line-height: 24px;
    padding: 0 4px 4px;
}

/* Add padding to the right of cells for workspaces to prevent long values from jamming up */
.workspaces .header th, .workspaces {
    padding: 0 8px 4px;
}

/* Header cell - first */
.header th:first-of-type {
    padding-left: 0;
}

/* Header cell - last */
.header th:last-of-type {
    padding-right: 0;
}

/* Row */
.row {
    border-bottom: 1px solid var(--shade-light-green);
}

/* Row - summary table - last before "total" row */
.summary .row:nth-last-child(2) {
    border-bottom: none;
}

/* Row - summary table - "total" row */
.summary .row.total {
    border-top: 1px solid var(--accent-blue-green);
    border-bottom-color: var(--accent-blue-green);
}

/* Row cells */
.row td {
    font-weight: 400;
    height: 32px;
    min-width: 62px;
    padding: 0 4px;
}

/* Add padding to the right of cells for workspaces to prevent long values from jamming up */
.workspaces .row td {
    padding: 2px 8px 2px;
}

/* Row cell - detail table - "program" eg CCDG */
.detail .row td[id^="program"] {
    max-width: 92px; /* Required for ellipsis */
    min-width: 92px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/* Row cell - detail table - "projectId" (ie Terra workspace name) */
.detail .row td[id^="projectId"] {
    max-width: 197px;
    min-width: 197px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

/* Row cell - detail table - "dbGapId" or "dbGapIdAccession" */
.detail .row td[id^="dbGapId"] {
    min-width: 112px;
}

/* Row cell - detail table - "type" */
.detail .row td[id^="dataType"] {
    min-width: 76px;
}

/* Row cell - detail table - "access" */
.detail .row td[id^="access"] {
    min-width: 32px;
}

/* Row cell - study name */
.workspaces .row td[id^="studyName"] {
    min-width: 300px;
    max-width: 300px;
}

/* Row cell - diseases */
.workspaces .row td[id^="diseases"] {
    min-width: 170px;
    max-width: 170px;
}

/* Workspaces table - "cosortia", "access" "dataType", "subjects" */
.workspaces .row td[id^="access"], .workspaces .row td[id^="dataType"], .workspaces .row td[id^="subjects"] {
    min-width: 85px;
    max-width: 85px;
}

/* Row */
.row {
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1); /* For hover */
}

.row:hover {
    background-color: var(--black3);
}

/* Vertical align to the top for workspaces - there will always be multi-line cells due to long titles */
.workspaces .row {
    vertical-align: top;
}

/* Row cells - "total" */
.row.total td {
    font-weight: 500;
}

/* Row cell - link */
.row td.link {
    color: var(--primary);
    cursor: pointer;
}

/* Right align cell */
.row td.right, .header th.right {
    text-align: right;
}

/* Row cell - first */
.row td:first-of-type {
    padding-left: 0;
}

/* Row cell - last */
.row td:last-of-type {
    padding-right: 0;
}

/**
 * Large tablet portrait, large handset landscape, small window
 */
@media screen and (min-width: 720px) {
    
    /* Table wrapper - summary. Overflow not required. */
    .wrapper.summary {
        padding-right: 0;
        width: 100%;
    }
}

/**
 * Custom breakpoint where detail tables no longer fit within channel and must have overflow/scroll
 */
@media screen and (max-width: 694px) {

    .wrapper.detail {
        padding-right: 16px; /* Add "internal" gutter on right-hand side of table */
        width: calc(100vw - 16px); /* Allow table to stretch to right-hand side of device, to indicate more */
    }
}

/**
 * Large handset portrait, small handset landscape, extra small window - left nav is stacked below this point
 */
@media screen and (min-width: 840px) {

    /* Table wrapper - summary. Overflow not required. Summary width stretches to match workspaces width unless capped. */
    .wrapper.summary {
        width: calc(100vw - 24px - 200px - 40px - 24px);
    }
    
    .wrapper.workspaces {
        max-width: calc(100vw - 24px - 200px - 40px); /* Allow table to stretch to right-hand side of device, to indicate more */
        width: unset;
    }
}

/**
 * Custom breakpoint where detail tables no longer fit within channel and must have overflow/scroll
 */
@media screen and (min-width: 840px) and (max-width: 949px) {

    .wrapper.detail {
        padding-right: 16px; /* Add "internal" gutter on right-hand side of table */
        max-width: calc(100vw - 24px - 24px - 200px - 40px); /* Allow table to stretch to right-hand side of device, to indicate more */
    }
}

/**
 * Custom breakpoint where tables change from scroll overflow, to 100% width of channel (712px).
 */
@media screen and (min-width: 1040px) {

    /* Prevent overflow on detail tables */
    .wrapper.detail {
        padding-right: 0;
        width: 100%;
    }

    /* Row cell - detail table - "projectId" (ie Terra workspace name) */
    .detail .row td[id^="projectId"] {
        max-width: 246px;
        min-width: 246px;
    }
}

/**
 * Large tablet landscape, medium window - optimized for MacBook Pro 13 inch. For workspaces, we squash dieases and 
 * data type and let study name consume available space.
 */
@media screen and (min-width: 1280px) {

    /* Table wrapper - summary. Overflow not required. Summary width stretches to match workspaces width unless capped.
       Update for larger left-nav width */
    .wrapper.summary {
        width: calc(100vw - 24px - 280px - 40px - 24px);
    }

    /* Allow table to stretch to right-hand side of device, to indicate more. Update for larger left-nav width. */
    .wrapper.workspaces {
        max-width: calc(100vw - 24px - 280px - 40px);
    }

    /* Row cell - study name - expand to consume all remaining space */
    .workspaces .row td[id^="studyName"] {
        min-width: unset;
        max-width: unset;
    }

    /* Row cell - Terra ID */
    .workspaces .row td[id^="projectId"] {
        min-width: 130px;
        max-width: 130px;
    }

    /* Row cell - diseases */
    .workspaces .row td[id^="diseases"] {
        min-width: 130px;
        max-width: 130px;
    }

    /* Workspaces table - "cosortia", "access" "dataType", "subjects" */
    .workspaces .row td[id^="dataType"] {
        min-width: 35px;
        max-width: 35px;
    }
}

/**
 * Custom breakpoint where we want the "reset" the sizes of project ID and disease columns that were squashed during
 * optimization for 13 inch laptop. This breakpoint sits between the breakpoints of 13 inch (1280px) and 15 inch
 * latops (1690px).
 */
@media screen and (min-width: 1340px) {

    /* Row cell - Terra ID */
    .workspaces .row td[id^="projectId"] {
        min-width: 200px;
        max-width: 200px;
    }

    /* Row cell - diseases */
    .workspaces .row td[id^="diseases"] {
        min-width: 170px;
        max-width: 170px;
    }
}

/**
 * Custom breakpoint where table is at full width (according to set column widths) and must be stretched to continue
 * to be attached to right-hand gutter - optimized for MacBook Pro 15 inch
 */
@media screen and (min-width: 1680px) {

    /* Workspaces has reached its natural max width, force stretch to right-hand gutter */
    .wrapper.workspaces {
        max-width: unset;
        width: calc(100vw - 280px - 24px - 40px - 24px);
    }

    /* Row cell - Terra ID */
    .workspaces .row td[id^="projectId"] {
        min-width: unset;
        max-width: unset;
    }
}
