/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data table component.
 */
@import "../../styles/vars.module.css";

/* Table wrapper */
/* Allows for overflow on smaller screens */
.wrapper {
    color: var(--accent-blue-dark);
    overflow-x: auto;
    overflow-y: hidden;
    /*padding-right: 16px; !* RHS gutter *!*/ /* TODO revisit - causing studies to not be full 760px */
    width: calc(100vw - 16px);
}

/* Table wrapper - summary */
.wrapper.summary {
    margin-bottom: 24px;
}

/* Table wrapper - inset, workspaces */
.wrapper.inset, .wrapper.workspaces {
    width: 100%;
}

/* Table wrapper - inset */
.wrapper.inset {
    color: var(--black87);
    display: table;
    padding: 8px 0;
}

/* Add additional margin to the bottom of the consent groups to scoot down title below it */
.wrapper.inset:last-of-type {
    margin-bottom: 16px;
}

/* Table */
table {
    display: inline-table;
    margin: 0;
}

/* Table - detail */
.detail table {
    max-width: 1118px;
}

/* Header */
.header {
    border-bottom: 1px solid var(--accent-blue-green);
    height: 42px;
    vertical-align: bottom;
}

/* Header - inset, workspaces */
.inset .header, .workspaces .header {
    height: 32px;
}

/* Header - inset */
.inset .header {
    border-bottom: 1px solid var(--shade-light-green);
}

/* Header cell, row cell */
.header th, .row td {
    border-bottom: none;
    color: inherit;
    font-size: 14px;
}

/* Header cells */
.header th {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 24px;
    padding: 0 4px 4px;
}

/* Header cell - first */
.header th:first-of-type {
    padding-left: 8px;
}

/* Header cell - last */
.header th:last-of-type {
    padding-right: 8px;
}

/* Header cells - inset */
.inset .header th {
    font-weight: 500;
}

/* Header cells - workspaces */
.workspaces .header th {
    font-weight: 500;
}

/* Header cell - first - inset, workspaces */
.inset .header th:first-of-type, .workspaces .header th:first-of-type {
    padding-left: 0;
}

/* Header cell - last - inset, workspaces */
.inset .header th:last-of-type, .workspaces .header th:last-of-type {
    padding-right: 0;
}

/* Row */
.row {
    border-bottom: 1px solid var(--shade-light-green);
}

/* Row - summary table - last before "total" row */
.summary .row:nth-last-child(2) {
    border-bottom: none;
}

/* Row - summary table - "total" row */
.summary .row.total {
    border-top: 1px solid var(--accent-blue-green);
    border-bottom-color: var(--accent-blue-green);
}

/* Row - inset table */
.inset .row {
    border-left: 1px solid var(--shade-light-green);
    border-right: 1px solid var(--shade-light-green);
}

/* Row cells */
.row td {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    height: 32px;
    min-width: 104px;
    padding: 0 4px;
}

/* Row cell - detail table - "projectId" */
.detail .row td[id^="projectId"] {
    min-width: 452px;
}

/* Row cell - detail table - "dbGapId" or "dbGapIdAccession" */
.detail .row td[id^="dbGapId"] {
    min-width: 124px;
}

/* Row cell - detail table - "access" */
.detail .row td[id^="access"] {
    min-width: 32px;
}

/* Row cell - inset, workspaces */
.inset .row td, .workspaces .row td {
    height: 24px;
}

/* Row cell - ellipsis */
/* Inset table - "consentName" */
/* Workspaces table - "workspaceId" */
.inset .row td[id^="consentName"], .workspaces .row td[id^="workspaceId"] {
    max-width: 112px; /* Required for ellipsis */
    min-width: 112px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/* Row cell - counts */
/* Inset table - "subjects" */
/* Workspaces table - "subjects", "samples" */
.inset .row td[id^="subjects"], .workspaces .row td[id^="subjects"], .workspaces .row td[id^="samples"], .workspaces .row td[id^="files"], .workspaces .row td[id^="size"] {
    min-width: 62px;
}

/* Row cell - workspaces table "dataType" */
.workspaces .row td[id^="dataType"] {
    min-width: 76px;
}

/* Row cells - "total" */
.row.total td {
    font-weight: 500;
}

/* Row cell - link */
.row td.link {
    color: var(--primary);
    cursor: pointer;
}

/* Right align cell */
.row td.right, .header th.right {
    text-align: right;
}

/* Row cell - first */
.row td:first-of-type {
    padding-left: 8px;
}

/* Row cell - last */
.row td:last-of-type {
    padding-right: 8px;
}

/* Row cell - workspaces table - first */
.workspaces .row td:first-of-type {
    padding-left: 0;
}

/* Row cell - workspaces table - last */
.workspaces .row td:last-of-type {
    padding-right: 0;
}

/**
 * Large Tablet
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {

    /* Table wrapper - summary */
    .wrapper.summary {
        padding-right: 0;
        width: 100%;
    }

    /* Table wrapper - detail */
    .wrapper.detail {
        padding-right: 24px;
        width: calc(100vw - 24px);
    }
}

/**
 * Column row layout changes to row layout (left nav/content/outline).
 */
@media screen and (min-width: 1341px) {

    /* Table wrapper - detail */
    .wrapper.detail {
        width: calc(100vw - 280px - 24px - 40px); /* 100vw minus: LHS nav, LHS gutter, content padding */
    }
}

/**
 * Content and outline are centered, rather than left-aligned.
 */
@media screen and (min-width: 1545px) {

    /* Header cells - workspaces */
    .workspaces .header th {
        padding-right: 16px;
    }

    /* Row cell - workspaces */
    .workspaces .row td {
        padding-right: 16px;
    }

    /* Row cell - counts */
    /* Inset table - "subjects" */
    /* Workspaces table - "subjects", "samples" */
    .inset .row td[id^="subjects"], .workspaces .row td[id^="subjects"], .workspaces .row td[id^="samples"] {
        min-width: 72px;
    }

    /* Row cell - workspaces - "dataType" */
    .workspaces .row td[id^="dataType"] {
        min-width: 96px;
    }
}
