/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL carousel slideshow component.
 */

/* Slideshow */
/* Positions slides on top of each other. */
.slider {
  border-top: 1px solid var(--grey);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/**
 * Small tablet portrait, medium handset landscape, small window.
 */
@media screen and (min-width: 600px) {
  /* Slideshow */
  .slider {
    border: 2px solid var(--grey);
    border-radius: 10px;
    max-width: 564px;
  }
}
