/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL nav drawer button component.
 */

/* Nav drawer button. */
.navDrawerButton {
  display: flex;
  left: -24px;
  margin: 4px;
  position: fixed;
  z-index: 1;
}

/* Nav drawer button. */
.navDrawerButton button {
  background-color: var(--primary6);
  border-radius: 30%;
}

/* Nav drawer icon. */
.navDrawerButton i {
  left: 8px;
  padding: 6px;
  position: relative;
}

/**
 * Large handset portrait, small handset landscape, extra small window. Nav side bar is sitting next to article.
 */
@media screen and (min-width: 840px) {
  /* Nav drawer button. */
  .navDrawerButton {
    display: none;
  }
}
