/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL stats component.
 */

/* Stats */
.stats {
  background-color: var(--shade-light);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1 / -1;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 16px;
}

/**
 * Large handset portrait, extra small window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 480px) {
  /* Stats */
  .stats {
    grid-column: 1;
  }
}

/**
 * Large tablet portrait, large handset landscape, small window
 */
@media screen and (min-width: 720px) {
  /* Stats */
  .stats {
    flex-direction: row;
    grid-column: 1 / 3;
    padding: 40px;
  }
}

/**
 * Optimized for home page channel.
 */
@media screen and (min-width: 1200px) {
  /* Stats */
  .stats {
    grid-column: unset;
    padding: 44px;
  }
}
