/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section publication.
 */

/* Hero. */
.sectionHero {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  grid-column: 2;
  grid-row: 3;
  line-height: 1.75rem;
  margin: 0 0 32px;
}

/* Cards. */
.sectionCards {
  display: grid;
  gap: 32px;
  grid-template-rows: 1fr;
}
