/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section publication.
 */

/* Hero. */
.sectionHero {
  composes: sectionHero from "../section/section-content/section-content.module.css";
}

/* Cards. */
.sectionCards {
  display: grid;
  gap: 32px;
  grid-template-rows: 1fr;
}

/* CTA. */
.sectionCTA {
  composes: sectionCTAs from "../section/section-content/section-content.module.css";
}
