/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL nav drawer overlay component.
 */

/* Nav drawer overlay. */
.navDrawerOverlay {
  background-color: var(--black34);
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 12; /* Above footer. */
}

/* CSSTransition. */
/* Nav drawer overlay appearing. */
.navDrawerOverlayAppear {
  opacity: 0;
}

/* Nav drawer overlay open. */
.navDrawerOverlayAppearActive {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Nav drawer overlay closing. */
.navDrawerOverlayClosed {
  opacity: 1;
}

/* Nav drawer overlay closed. */
.navDrawerOverlayClosedActive {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Nav drawer overlay exited. */
.navDrawerOverlayExitDone {
  opacity: 0;
}
