/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL section tech cloud.
 */

/* Cards. */
.sectionCards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}
