/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL carousel component.
 */

/* Carousel */
/* Wrapper around carousel body and left, right arrows */
.carousel {
  align-items: center;
  display: flex;
  gap: 24px; /* Between arrows and carousel body. */
}

/* Carousel body - rotation container */
.carouselBody {
  display: grid;
  flex: 1;
  gap: 16px; /* Between slideshow and bullets. */
}
