/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard search selected term component.
 */

/* Bracket, operator, term */
.bracket,
.operator,
.term {
  padding-right: 4px;
}

/* Bracket - first, term - last. */
.bracket:first-child,
.term:nth-last-child(2) {
  padding-right: 0;
}

/* Term. */
.term {
  cursor: pointer;
}

/* Term - hover. */
.term:hover {
  text-decoration: line-through;
}
