/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data table header component.
 */
@import "../../styles/vars.module.css";

/* Header */
.header {
    border-bottom: 1px solid var(--accent-blue-green);
    height: 42px;
    vertical-align: bottom;
}
