/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL nav component.
 */

@import "../../styles/vars.module.css";

/* Side nav - main content */
.sideNav {
    margin: 0 0 32px;
    padding-bottom: 32px;
    overflow-y: scroll;
}

/**
 * Large handset portrait, small handset landscape, extra small window. Nav is no longer stacked (and is sitting next
 * article).
 */
@media screen and (min-width: 840px) {

    /* Side nav container - required to "add" fixed side nav to the flow */
    .sideNavContainer {
        min-width: 260px;
    }

    /* Side nav */
    .sideNav {
        border-right: 1px solid var(--accent-blue-light);
        height: 100%;
        left: 16px; /* To left align arrow icon with gutter. */
        margin: 0;
        max-width: unset;
        padding: 0 2px 0 0;
        position: fixed;
        width: 260px;
    }
}
