/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL nav component.
 */

@import "../../styles/vars.module.css";

/* Side nav - main content */
.sideNav {
    margin: 0 0 32px;
    padding-bottom: 32px;
}

/* List style - <ul> */
.sideNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hidden */
.sideNav.hidden {
    display: none;
}

/* Nav item */
.sideNav li {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0; /* Override default li margin */
}

/* Nav item level 1 */
.sideNav > ul > li {
    font-size: 0.875rem; /* 14px */ 
    line-height: 1.125rem; /* 18px */
}

/* Nav item level 2 */
.sideNav ul ul li {
    margin: 0;
    padding-left: 24px;
}

/* Link */
.sideNav .link {
    color: var(--black58);
    display: block;
    padding: 12px 8px 12px 0;
    position: relative; /* Positions link hover and active styles */
}

/* Link line and indicator */
.sideNav .link:before, .sideNav .link:after {
    background-color: transparent;
    content: "";
    position: absolute;
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1); /* For hover */
}

/* Active line and indicator */
.sideNav .link.active:before, .sideNav .link.active:after {
    background-color: var(--accent-blue-light);
}

/* Primary line and indicator - selected secondary */
.sideNav .selected:before {
    /*border-bottom: 1px dashed var(--black12);*/
}

/* Hover state line and indicator */
.sideNav .link:not(.active):not(.selected):hover:before,
.sideNav .link:not(.active):not(.selected):hover:after {
    background-color: var(--black12);
}

/* Line indicator */
.sideNav .link:before, .sideNav .link.active:before, .sideNav .selected:before {
    bottom: 0;
    height: 1px;
    left: 0;
    right: 5px;
}

/* Ball indicator */
.sideNav .link:after, .sideNav .link.active:after {
    border-radius: 50%;
    bottom: -2px;
    height: 5px;
    right: 0;
    width: 5px;
}

/**
 * Large handset portrait, small handset landscape, extra small window. Nav is no longer stacked (and is sitting next
 * article).
 */
@media screen and (min-width: 840px) {

    /* Side nav container - required to "add" fixed side nav to the flow */
    .sideNavContainer {
        min-width: 200px;
    }

    /* Side nav */
    .sideNav, .sideNav.left {
        border-bottom: none;
        bottom: 0;
        left: 24px; /* Gutter */
        margin: 0;
        max-width: unset;
        padding: 0;
        position: fixed;
        top: 100px;
        width: 200px;
    }

    /* Side nav line */
    .sideNav:not(.hidden)::before {
        background-color: var(--accent-blue-light);
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
    }

    /* Show nav */
    .sideNav.hidden {
        display: block;
    }

    /* Line indicator */
    .sideNav .link:before, .sideNav .link.active:before {
        right: 3px;
    }

    /* Line indicator - primary "selected" */
    .sideNav .selected:before {
        right: 0;
    }

    /* Ball indicator */
    .sideNav .link:after, .sideNav .link.active:after {
        right: -2px;
    }
}

/**
 * Large tablet landscape, medium window. Widen nav.
 */
@media screen and (min-width: 1280px) {

    /* Side nav container - required to "add" fixed side nav to the flow */
    .sideNavContainer {
        min-width: 280px;
    }

    /* Side nav */
    .sideNav, .sideNav.left {
        width: 280px;
    }
}
