/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL nav component.
 */
@import "../../styles/vars.module.css";

/* Side nav - main content */
.sideNav {
    border-bottom: 2px solid var(--shade-light);
    margin: 0 0 32px;
    padding-bottom: 16px;
    position: relative; /* Positions content line blocker */
}

/* List style - <ul> */
.sideNav, .sideNav ul {
    list-style: none;
}

/* Secondary content <ul> */
.sideNav ul {
    margin: 0;
}

/* Content line blocker */
.sideNav:before {
    background-color: rgba(255, 255, 255, 1);
    content: "";
    height: 36px;
    position: absolute;
    right: -1px;
    top: -36px; /* Height of margin between header and content */
    width: 1px;
}

/* Side nav - hidden */
.sideNav.hidden {
    display: none;
}

/* Nav item */
.sideNav li {
    color: var(--accent-dark);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 32px;
}

/* Nav item level 1 */
.sideNav > li {
    font-size: 18px;
}

/* Nav item level 2 */
.sideNav ul > li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
    padding-left: 16px;
}

/* Link */
.sideNav .link {
    display: block;
    padding: 2px 8px 2px 0;
    position: relative; /* Positions link hover and active styles */
}

/* Link line and indicator */
.sideNav .link:before, .sideNav .link:after {
    background-color: transparent;
    content: "";
    position: absolute;
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1); /* For hover */
}

/* Active line and indicator */
.sideNav .link.active:before, .sideNav .link.active:after {
    animation: activeLink 400ms cubic-bezier(0.25, 0.8, 0.25, 1); /* For active */
    background-color: var(--accent-ice);
}

/* Primary line and indicator - selected secondary */
.sideNav .selected:before {
    /*border-bottom: 1px dashed var(--black12);*/
}

/* Hover state line and indicator */
.sideNav .link:not(.active):not(.selected):hover:before,
.sideNav .link:not(.active):not(.selected):hover:after {
    background-color: var(--black6);
}

/* Line indicator */
.sideNav .link:before, .sideNav .link.active:before, .sideNav .selected:before {
    bottom: 0;
    height: 1px;
    left: 0;
    right: 5px;
}

/* Ball indicator */
.sideNav .link:after, .sideNav .link.active:after {
    border-radius: 50%;
    bottom: -2px;
    height: 5px;
    right: 0;
    width: 5px;
}

/* Link - animation */
@keyframes activeLink {
    from {
        background-color: var(--black6);
    }
    to {
        background-color: var(--accent-ice);
    }
}

/**
 * Medium Window +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Side nav */
    .sideNav {
        border-bottom: none;
        flex: none;
        height: fit-content; /* Required for sticky position */
        margin: 0;
        max-width: unset;
        padding: 0;
        position: sticky;
        top: 100px;
        width: 234px;
    }

    /* Show nav */
    .sideNav.hidden {
        display: inline-flex;
    }

    /* Link */
    .sideNav .link {
        padding: 2px 0;
    }

    /* Link level 2 */
    .sideNav ul .link {
        padding: 4px 0;
    }

    /* Line indicator */
    .sideNav .link:before, .sideNav .link.active:before {
        right: 2px;
    }

    /* Line indicator - primary "selected" */
    .sideNav .selected:before {
        right: 0;
    }

    /* Ball indicator */
    .sideNav .link:after, .sideNav .link.active:after {
        right: -3px;
    }
}
