/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL nav component.
 */
@import "../../styles/vars.module.css";

/* Side nav - main content */
.sideNav {
    border-bottom: 2px solid var(--shade-light);
    margin: 0 0 32px;
    padding-bottom: 16px;
}

/* List style - <ul> */
.sideNav ul {
    list-style: none;
    margin: 0;
}

/* Hidden */
.sideNav.hidden {
    display: none;
}

/* Nav item */
.sideNav li {
    color: var(--accent-dark);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 32px;
}

/* Nav item level 1 */
.sideNav > ul > li {
    font-size: 18px;
}

/* Nav item level 2 */
.sideNav ul ul li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
    padding-left: 16px;
}

/* Link */
.sideNav .link {
    display: block;
    padding: 2px 8px 2px 0;
    position: relative; /* Positions link hover and active styles */
}

/* Link line and indicator */
.sideNav .link:before, .sideNav .link:after {
    background-color: transparent;
    content: "";
    position: absolute;
    transition: background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1); /* For hover */
}

/* Active line and indicator */
.sideNav .link.active:before, .sideNav .link.active:after {
    background-color: var(--accent-ice);
}

/* Primary line and indicator - selected secondary */
.sideNav .selected:before {
    /*border-bottom: 1px dashed var(--black12);*/
}

/* Hover state line and indicator */
.sideNav .link:not(.active):not(.selected):hover:before,
.sideNav .link:not(.active):not(.selected):hover:after {
    background-color: var(--black6);
}

/* Line indicator */
.sideNav .link:before, .sideNav .link.active:before, .sideNav .selected:before {
    bottom: 0;
    height: 1px;
    left: 0;
    right: 5px;
}

/* Ball indicator */
.sideNav .link:after, .sideNav .link.active:after {
    border-radius: 50%;
    bottom: -2px;
    height: 5px;
    right: 0;
    width: 5px;
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

    /* Side nav */
    .sideNav {
        border-bottom: none;
        bottom: 0;
        left: 24px; /* Gutter */
        margin: 0;
        padding: 0;
        position: fixed;
        top: 100px;
        width: 220px;
    }

    /* Side nav line */
    .sideNav::before {
        background-color: var(--accent-ice);
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
    }

    /* Show nav */
    .sideNav.hidden {
        display: block;
    }

    /* Link */
    .sideNav .link {
        padding: 2px 0;
    }

    /* Link level 2 */
    .sideNav ul .link {
        padding: 4px 0;
    }

    /* Line indicator */
    .sideNav .link:before, .sideNav .link.active:before {
        right: 3px;
    }

    /* Line indicator - primary "selected" */
    .sideNav .selected:before {
        right: 0;
    }

    /* Ball indicator */
    .sideNav .link:after, .sideNav .link.active:after {
        right: -2px;
    }
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* Side nav container */
    .sideNav {
        left: calc((100vw - 1232px) / 2 + 2px);
        width: 234px;
    }
}
