/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL social component.
 */

/* Social. */
a.social {
    color: unset;
    border: none;
    height: 20px;
    padding: 0 16px;
}

/* Social icons - hover. */
a.social:hover {
    border: none;
    opacity: 0.54;
}

/* Social, icons. */
a.social, .social > span {
    align-items: center;
    display: inline-flex;
}

/* Social - first. */
.social:first-of-type {
    padding-left: 0;
}

/* Social - second (if after social link). */
a:not(.social) + .social {
    padding-left: 32px;
}

/* Social - last. */
.social:last-of-type {
    padding-right: 0;
}

/* Social image - all. */
.social > * {
    height: inherit;
    margin: 0;
    pointer-events: none; /* Allows click event on wrapper <a> element to pass through to external link tracker. */
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
