/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard study component.
 */

/* Dashboard study. */
.dashboardStudy {
  display: grid;
  grid-template-rows: 1fr;
}

/**
 * Large handset portrait, small handset landscape, extra small window
 */
@media screen and (min-width: 840px) {
  /* Dashboard study. */
  .dashboardStudy {
    grid-column-gap: 64px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}
