/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to the AnVIL tab component.
 */

@import "../../../styles/vars.module.css";

/* Tab. */
.tab {
  color: var(--accent-blue-dark);
  margin-right: 16px;
  white-space: nowrap;
}

/* Tab - last. */
.tab:last-of-type {
  margin-right: 0;
}

/* Tab - active. */
.tab.active {
  box-shadow: inset 0 -4px var(--accent-blue-light);
}

/* Tab - hover. */
.tab:not(.active):hover {
  box-shadow: inset 0 -4px var(--black12);
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 720px) {
  /* Tab. */
  .tab {
    margin-right: 24px;
  }
}
