/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table header cell component.
 *
 * "anvil" identifier is for AnVIL dashboard.
 * "ncpi" identifier is for ncpi dashboard.
 * "summary" identifier is for the summary table.
 */

/* Header cell */
[id^="anvil"] th,
[id^="ncpi"] th,
[id^="summary"] th {
    border-bottom: none;
    color: inherit;
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    line-height: 24px;
    padding: 0 4px 4px;
}

/* Header cell - right */
th.right {
    text-align: right;
}

/* AnVIL table */
/* NCPI table */
/* Add padding to the right of cells for AnVIL table to prevent long values from jamming up. */
[id^="anvil"] th,
[id^="ncpi"] th {
    padding: 0 8px 4px;
}

/* Header cell - first */
[id^="anvil"] th:first-of-type,
[id^="ncpi"] th:first-of-type,
[id^="summary"] th:first-of-type {
    padding-left: 2px; /* Scoot in first and last, matches cell */
}

/* Header cell - last */
[id^="anvil"] th:last-of-type,
[id^="ncpi"] th:last-of-type,
[id^="summary"] th:last-of-type {
    padding-right: 2px; /* Scoot in first and last, matches cell */
}

/* NCPI cell - "gapId" - "dbGap Id" */
[id^="ncpi"] th[id^="gapId"] {
    width: 132px;
}

/* NCPI cell - "platforms" */
[id^="ncpi"] th[id^="platforms"] {
    width: 100px;
}

/* NCPI cell - "subjectsTotal" - "subjects" */
[id^="ncpi"] th[id^="subjectsTotal"] {
    width: 100px;
}

/**
 * Large tablet landscape, medium window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1280px) {

    /* NCPI cell - "studyName" - "title" */
    [id^="ncpi"] th[id^="studyName"] {
        width: 300px;
    }
}

/**
 * Large tablet landscape, large window.
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1600px) {

    /* NCPI cell - "studyName" - "title" */
    [id^="ncpi"] th[id^="studyName"] {
        width: 500px;
    }
}
