/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL dashboard table header cell component.
 *
 * "ncpi" identifier is for ncpi dashboard.
 * "studies" identifier is for workspaces table with studies included.
 * "summary" identifier is for the summary table.
 */

/* Header cell */
[id^="ncpi"] th,
[id^="studies"] th,
[id^="summary"] th {
    border-bottom: none;
    color: inherit;
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    line-height: 24px;
    padding: 0 4px 4px;
}

/* Header cell - right */
th.right {
    text-align: right;
}

/* Studies table */
/* NCPI table */
/* Add padding to the right of cells for studies table to prevent long values from jamming up. */
[id^="ncpi"] th,
[id^="studies"] th {
    padding: 0 8px 4px;
}

/* Header cell - first */
[id^="ncpi"] th:first-of-type,
[id^="studies"] th:first-of-type,
[id^="summary"] th:first-of-type {
    padding-left: 2px; /* Scoot in first and last, matches cell */
}

/* Header cell - last */
[id^="ncpi"] th:last-of-type,
[id^="studies"] th:last-of-type,
[id^="summary"] th:last-of-type {
    padding-right: 2px; /* Scoot in first and last, matches cell */
}
