/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data table summary component.
 */

/* Header - no border. */
.headerNoBorder {
    border-bottom: 0;
    padding-bottom: 0;
}
