/*
 * The AnVIL
 * https://www.anvilproject.org
 *
 * Style definitions specific to The AnVIL data search selected control bar component.
 */

/* Control bar. */
.controlBar {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 300;
    justify-content: flex-start;
    line-height: 24px;
}
